<mat-card class="main" id="imgeUp">
    <mat-card-title class="txt" style="margin-top: 100px;">
    </mat-card-title>
    <mat-card-content class="container">

        <form [formGroup]="OpretForm" class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="text" formControlName="navn" placeholder="Navn" class="input-control">
                <!-- <mat-error *ngIf="navn.errors?.['required']"> -->
                <mat-error>
                    feltet skal udfyldes 
                </mat-error>
            </mat-form-field>
            
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="text" formControlName="type" placeholder="Type" class="input-control">
                <mat-error>
                    Dette felt skal udfyldes
                </mat-error>
            </mat-form-field>
            
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="text" formControlName="smag" placeholder="Smag" class="input-control">
                <mat-error>
                    Dette felt skal udfyldes
                </mat-error>
            </mat-form-field>
            
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="text" formControlName="procent" placeholder="Procent" class="input-control">
                <mat-error>
                    Dette felt skal udfyldes
                </mat-error>
            </mat-form-field>
            
            <!-- <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="text" formControlName="argang" placeholder="Årgang" class="input-control">
                <mat-error>
                    Dette felt skal udfyldes
                </mat-error>
            </mat-form-field> -->

            <mat-form-field class="example-full-width" appearance="fill">             
                <input matInput type="text" formControlName="land" placeholder="Land" class="input-control">
                <mat-error>
                    Dette felt skal udfyldes
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">             
                <input matInput type="text" formControlName="bryggerid" placeholder="Bryggerid" class="input-control">
                <mat-error>
                    Dette felt skal udfyldes
                </mat-error>
            </mat-form-field>

            <!-- <mat-form-field class="example-full-width" appearance="fill">
                <mat-select type="text" formControlName="process" placeholder="Bryggeprocess" class="input-control">
                    <mat-option *ngFor="let bryg of brygs" [value]="bryg.value">
                        {{bryg.view}}
                    </mat-option>
                </mat-select>
                <mat-error>
                    Dette felt skal udfyldes
                </mat-error>
            </mat-form-field> -->

            <mat-form-field class="example-full-width" appearance="fill">             
                <input matInput type="text" formControlName="etiket" placeholder="Etiket" class="input-control">
                <mat-error>
                    Dette felt skal udfyldes
                </mat-error>
            </mat-form-field>
            
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="text" formControlName="beskrivelse" placeholder="Beskrivelse" class="input-control">
                <mat-error>
                    Dette felt skal udfyldes
                </mat-error>
            </mat-form-field>
            
            <button mat-raised-button type="submit" (click)="onSletOl()" class="login-btn" style="background: linear-gradient(#b60d0d, #ff6e6e);">Annuller</button>
            
            <button mat-raised-button type="submit" (click)="onSubmitOl()" class="login-btn" style="background: linear-gradient(#33ff00, #41fd70);">Opret Øl</button>
        </form>
    </mat-card-content>
</mat-card>