<mat-card class="main" id="imgeUp">
    <mat-card-content class="container">

        <form [formGroup]="createForm" class="example-form" style="justify-content: center;">
            <h1>Øl Oprettelses side</h1>
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="text" [(ngModel)]="beerCreation.name" formControlName="navn" placeholder="Navn" class="input-control">
                <!-- <mat-error *ngIf="navn.errors?.['required']"> -->
                <mat-error>
                    feltet skal udfyldes 
                </mat-error>
            </mat-form-field>
            
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="text" [(ngModel)]="beerCreation.type" formControlName="type" placeholder="Type" class="input-control">
                <mat-error>
                    Dette felt skal udfyldes
                </mat-error>
            </mat-form-field>
            
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="text" [(ngModel)]="beerCreation.taste" formControlName="smag" placeholder="Smag" class="input-control">
                <mat-error>
                    Dette felt skal udfyldes
                </mat-error>
            </mat-form-field>
            
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="number" [(ngModel)]="beerCreation.procentage" min="0" formControlName="procent" placeholder="Procent" class="input-control">
                <mat-error>
                    Dette felt skal udfyldes
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">             
                <input matInput type="text" [(ngModel)]="beerCreation.country" formControlName="land" placeholder="Land" class="input-control">
                <mat-error>
                    Dette felt skal udfyldes
                </mat-error>
            </mat-form-field>

            <!-- <mat-form-field class="example-full-width" appearance="fill">
                <mat-select [(value)]="selected" formControlName="bryggeprocess">
                    <mat-option>Ingen</mat-option>
                    <mat-option value="optionJa">Ja</mat-option>
                    <mat-option value="optionNej">Nej</mat-option>
                </mat-select>
                <mat-error>
                    udfyld feltet
                </mat-error>
            </mat-form-field> -->

            <mat-form-field class="example-full-width" appearance="fill">             
                <input matInput type="text" [(ngModel)]="beerCreation.label" formControlName="etiket" placeholder="Etiket" class="input-control">
                <input type="file" class="btnMainStyle" (change)="onSubmitCertificate($event)">
                <mat-error>
                    Dette felt skal udfyldes
                </mat-error>
            </mat-form-field>
            
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="text" [(ngModel)]="beerCreation.description" formControlName="beskrivelse" placeholder="Beskrivelse" class="input-control">
                <mat-error>
                    Dette felt skal udfyldes
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="number" [(ngModel)]="beerCreation.quantity" min="0" formControlName="antal" placeholder="Antal" class="input-control">
                <mat-error>
                    Dette felt skal udfyldes
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="date" [(ngModel)]="beerCreation.vintage" formControlName="argang" placeholder="Årgang" class="input-control">
                <mat-error>
                    Dette felt skal udfyldes
                </mat-error>
            </mat-form-field>
            
            <button mat-raised-button type="submit" (click)="onCancel()" class="login-btn" style="background: linear-gradient(#b60d0d, #ff6e6e);">Annuller</button>
            
            <button mat-raised-button type="submit" (click)="onSubmitBeer()" class="login-btn" style="background: linear-gradient(#33ff00, #41fd70);">Opret Øl</button>
        </form>
    </mat-card-content>
</mat-card>