<div class="main" id="imgeUp">
    <mat-toolbar class="login-header" style="background: linear-gradient(#238ff5, #23baf5); justify-content: center;">
        <button mat-raised-button style="background-color: rgb(30, 122, 228); width: 120px; height: 40px; border-width: 0; margin-right: 20px;"
        (click)="onOpretOl()">Opret øl</button>
        <form class="example-form" style="justify-content: center; width: 100%;">
            <mat-form-field style="width: 10%;">
                <input matInput type="search" placeholder="Find øl" [(ngModel)]="searchkey" (ngModelChange)="onFindOl()" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
        </form>
        <h1 style="justify-content: center; width: 100%;">Katalog</h1>
    </mat-toolbar>
    <table style="width: 100%; height: 100%; display: flex;">
        <mat-accordion class="example-headers-align" multi style="width: 100%;">
            <mat-expansion-panel *ngFor="let beer of beerliste" style="margin-top: 10px; background-color: transparent;" expanded="true">
                <mat-expansion-panel-header style="background: linear-gradient(rgb(30, 122, 228), rgb(75, 127, 185)); justify-content: center; width: 100%;">
                    <mat-panel-title class="centers" style="justify-content: center;">
                        {{beer.navn}}
                    </mat-panel-title>
                    <mat-action-row class="centers" style="justify-content: center;">
                        <button mat-button class="btnMainStyle" (click)="onSletOl(beer.id)">Slet Øl</button>
                        <button mat-button class="btnMainStyle" (click)="onRedigerOl(beer.id)">Rediger Øl</button>
                        <button mat-button class="btnMainStyle" (click)="onLager(beer.id)">Ændre Lager</button>
                    </mat-action-row>
                </mat-expansion-panel-header>
                <mat-card class="containStyle">
                    <p>Type:</p>
                    <p>{{beer.type}}</p>
                </mat-card>
                <mat-card class="containStyle">
                    <p>Procent:</p>
                    <p>{{beer.procent}}</p>
                </mat-card>
                <mat-card class="containStyle">
                    <p>Smag:</p>
                    <p>{{beer.smag}}</p>
                </mat-card>
                <mat-card class="containStyle">
                    <p>Beskrivelse:</p>
                    <p>{{beer.beskrivelse}}</p>
                </mat-card>
                <mat-card class="containStyle">
                    <p>Etiket:</p>
                    <img [src]="beer.etiket" alt="" style="width: 20%; height: 20%;">
                </mat-card>
                <mat-card class="containStyle">
                    <p>Årgang:</p>
                    <p>{{this.argang}}</p>
                </mat-card>
                <mat-card class="containStyle">
                    <p>Antal flasker:</p>
                    <p>{{beer.antal}}</p>
                </mat-card>
            </mat-expansion-panel>
        </mat-accordion>
    </table>
</div>