.main{
  height: 100%;
  background-color: rgb(255, 255, 255);
}

#imgeUp{
  background-image: url('/assets/images/Background-website-01.jpg');
  background-position:center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
}
.main-div mat-card {
  margin: 260px;
  width: 100%;
}
.txt{
  margin-bottom: 30px;
  font-weight: bolder;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  text-align: center;

}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.container {
  margin-top: 150px;
  font-family: arial;
  display: flex;
  justify-content: center;
  height: auto;
  }
.login-btn{
    margin-top: 40px;
    height: 50px;
    background-color: rgb(155, 152, 152);
    width: 100%;
    cursor:pointer;
}
.black-color{
  color: gray;
  margin-top: 20px;
  font-size: 30px;
}
