<mat-card class="main" id="imgeUp">
  <mat-card-title class="txt" style="margin-top: 100px;">
    Vælg en mail til at bekræfte dit glemte password
  </mat-card-title>
  <mat-card-content class="container">
    <form [formGroup]="glemtPWForm"  class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Indtast din e-mail</mat-label>
        <input matInput placeholder="Fx. nilsen@hotmail.com" formControlName="email" required>
        <mat-error>
          Vær Venlig at udfyld feltet med din email
      </mat-error>
      </mat-form-field>
      <button mat-raised-button type="submit" class="login-btn">Send Mail</button>
      <!-- <a routerLink="../edit-password" routerLinkActive="active"><span class="material-icons black-color">arrow_back</span></a>
      <span ><a routerLink="../login-side" routerLinkActive="active">Tilbage til login side</a></span> -->
      <a routerLink="/login/login" routerLinkActive="active"><span class="material-icons black-color">arrow_back</span></a>
    </form>
  </mat-card-content>

</mat-card>
