.btn-container{
  text-align: center;
  cursor:pointer;
  font-style: italic;
  font-size: 15px;
  border:none;
  background-color: white;
  justify-content: space-between;
}

.mat-dialog-title
{
  font-size: 20px;
  font-style: oblique;
}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}


