<mat-card class="main" id="imgeUp">
    <mat-card-content class="container">

        <form [formGroup]="RedigerForm" class="example-form" *ngIf="olList">
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="text" [(ngModel)]="olList.navn" formControlName="navn" placeholder="{{olList.navn}}" class="input-control">
                <!-- <mat-error *ngIf="navn.errors?.['required']"> -->
                <mat-error>
                    udfyld feltet
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="text" [(ngModel)]="olList.type" formControlName="type"
                    placeholder="{{olList.type}}" class="input-control">
                <mat-error>
                    udfyld feltet
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="text" [(ngModel)]="olList.smag" formControlName="smag"
                    placeholder="{{olList.smag}}" class="input-control">
                <mat-error>
                    udfyld feltet
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="number" [(ngModel)]="olList.procent" formControlName="procent"
                    placeholder="{{olList.procent}}" class="input-control">
                <mat-error>
                    udfyld feltet
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="date" [(ngModel)]="olList.argang" formControlName="argang" placeholder="{{olList.argang}}" class="input-control">
                <mat-error>
                    Dette felt skal udfyldes
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="text" [(ngModel)]="olList.land" formControlName="land"
                    placeholder="{{olList.land}}" class="input-control">
                <mat-error>
                    udfyld feltet
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="number" [(ngModel)]="olList.bryggeriId" formControlName="bryggerid"
                    placeholder="{{olList.bryggeriId}}" class="input-control">
                <mat-error>
                    udfyld feltet
                </mat-error>
            </mat-form-field>

            <!-- <mat-form-field class="example-full-width" appearance="fill">
                    <mat-select [(value)]="selected" formControlName="bryggeprocess" placeholder="{{olList.bryggeprocess}}">
                        <mat-option>Ingen</mat-option>
                        <mat-option value="optionJa">Ja</mat-option>
                        <mat-option value="optionNej">Nej</mat-option>
                    </mat-select>
                    <mat-error>
                        udfyld feltet
                    </mat-error>
            </mat-form-field> -->

            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="text" [(ngModel)]="olList.etiket" formControlName="etiket"
                    placeholder="{{olList.etiket}}" class="input-control">
                <mat-error>
                    udfyld feltet
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="text" [(ngModel)]="olList.beskrivelse" formControlName="beskrivelse"
                    placeholder="{{olList.beskrivelse}}" class="input-control">
                <mat-error>
                    udfyld feltet
                </mat-error>
            </mat-form-field>
          
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="text" [(ngModel)]="olList.antal" formControlName="antal"
                    placeholder="{{olList.antal}}" class="input-control">
                <mat-error>
                    udfyld feltet
                </mat-error>
            </mat-form-field>

            <button mat-raised-button type="submit" (click)="onAnnullerOl()" class="login-btn"
                style="background: linear-gradient(#b60d0d, #ff6e6e);">Annuller</button>

            <button mat-raised-button type="submit" (click)="onSubmitOl()" class="login-btn"
                style="background: linear-gradient(#33ff00, #41fd70);">Rediger Øl</button>
        </form>
    </mat-card-content>
</mat-card>
