<mat-card class="main" id="imgeUp">
    <mat-card-content class="container">

        <form [formGroup]="updateForm" class="example-form" *ngIf="beerList">
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="text" [(ngModel)]="beerList.name" formControlName="name" placeholder="{{beerList.name}}" class="input-control">
                <!-- <mat-error *ngIf="navn.errors?.['required']"> -->
                <mat-error>
                    udfyld feltet
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="text" [(ngModel)]="beerList.type" formControlName="type"
                    placeholder="{{beerList.type}}" class="input-control">
                <mat-error>
                    udfyld feltet
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="text" [(ngModel)]="beerList.taste" formControlName="taste"
                    placeholder="{{beerList.taste}}" class="input-control">
                <mat-error>
                    udfyld feltet
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="number" [(ngModel)]="beerList.procentage" formControlName="procentage"
                    placeholder="{{beerList.procentage}}" class="input-control">
                <mat-error>
                    udfyld feltet
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="date" [(ngModel)]="beerList.vintage" formControlName="vintage" placeholder="{{beerList.vintage}}" class="input-control">
                <mat-error>
                    Dette felt skal udfyldes
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="text" [(ngModel)]="beerList.country" formControlName="country"
                    placeholder="{{beerList.country}}" class="input-control">
                <mat-error>
                    udfyld feltet
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="number" [(ngModel)]="beerList.breweryId" formControlName="breweryId"
                    placeholder="{{beerList.breweryId}}" class="input-control">
                <mat-error>
                    udfyld feltet
                </mat-error>
            </mat-form-field>

            <!-- <mat-form-field class="example-full-width" appearance="fill">
                    <mat-select [(value)]="selected" formControlName="bryggeprocess" placeholder="{{beerList.bryggeprocess}}">
                        <mat-option>Ingen</mat-option>
                        <mat-option value="optionJa">Ja</mat-option>
                        <mat-option value="optionNej">Nej</mat-option>
                    </mat-select>
                    <mat-error>
                        udfyld feltet
                    </mat-error>
            </mat-form-field> -->

            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="text" [(ngModel)]="beerList.label" formControlName="label"
                    placeholder="{{beerList.label}}" class="input-control">
                <mat-error>
                    udfyld feltet
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="text" [(ngModel)]="beerList.description" formControlName="description"
                    placeholder="{{beerList.description}}" class="input-control">
                <mat-error>
                    udfyld feltet
                </mat-error>
            </mat-form-field>
          
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="text" [(ngModel)]="beerList.qauntity" formControlName="qauntity"
                    placeholder="{{beerList.qauntity}}" class="input-control">
                <mat-error>
                    udfyld feltet
                </mat-error>
            </mat-form-field>

            <button mat-raised-button type="submit" (click)="onCancel()" class="login-btn"
                style="background: linear-gradient(#b60d0d, #ff6e6e);">Annuller</button>

            <button mat-raised-button type="submit" (click)="onSubmitBeer()" class="login-btn"
                style="background: linear-gradient(#00ff37, #41fd70);">Rediger Øl</button>
        </form>
    </mat-card-content>
</mat-card>