<div class="main" id="imgeUp">
  <mat-card >
    <mat-toolbar class="login-header" style="background: linear-gradient(#6c6c6d, #cfd4d6); height: 100px;"  >
      <mat-tab-group>
        <mat-tab label="Find Events med events titel">
      <form class="example-form" style="justify-content: center; width: 100%;">
        <mat-form-field  class="txtHeader">
            <input matInput type="search"  [(ngModel)]="searchkeyEventTitle" (ngModelChange)="onFindEventtitle()" [ngModelOptions]="{standalone: true}" >
        </mat-form-field>
      </form>
        </mat-tab>
        <mat-tab label="Find events med deltagelser brugernavn">
          <form class="example-form" style="justify-content: center; width: 100%;">
            <mat-form-field  class="txtHeader">
                <input matInput type="search"  [(ngModel)]="searchkeyParticipants" (ngModelChange)="onFindParticipants()" [ngModelOptions]="{standalone: true}" >
            </mat-form-field>
          </form>
            </mat-tab>
            <mat-tab label="Oprette Events">
               <button mat-button class="btnOprette" (click)="onCreateEvent()">Klick her til at oprette events</button>
            </mat-tab>
  </mat-tab-group>
  </mat-toolbar>
  </mat-card>
  <mat-card>
    <table style="width: 100%; height: 100%; display: flex;" >
        <mat-accordion class="example-headers-align" multi style="width: 100%;">
             <mat-expansion-panel *ngFor="let event of events" style="margin-top: 10px;"  [disabled]="clickButton" (click)="clickButton=true" >
                <mat-expansion-panel-header
                    style="background: linear-gradient(rgb(192, 193, 194), rgb(231, 234, 236)); justify-content: center; width: 100%;">
                    <mat-panel-title class="centers" style="justify-content: center;">
                       <span style="font-weight: bold; margin-right: 20px;">Events Titel:</span>
                       <span>{{event.title}}</span>
                    </mat-panel-title>
                    <mat-action-row class="centers" style="justify-content: center;">
                        <button mat-button class="btnMainStyle" (click)="onShowEvent(event.id)">Vis </button> |
                        <button mat-button class="btnMainStyle" (click)="onUpdateEvent(event.id)" >Update </button> |
                        <!-- <button mat-button class="btnMainStyle" (click)="onJoinEvent(event.id)" >Join Event </button> | -->
                        <button mat-button class="btnMainStyle" (click)="onDeleteEvent(event.id)">Slet </button>
                    </mat-action-row>
                </mat-expansion-panel-header>
                <div  *ngIf="eventList">
                  <mat-card class="containStyle">
                    <span>EventBillede:</span>
                    <span class="txtStyle"><img [src]="eventList.eventPicture" alt="" style="width: 30%; height: 30%;"></span>
                  </mat-card>
                  <mat-card class="containStyle">
                  <span>Titel:</span>
                  <span class="txtStyle">{{eventList.title}}</span>
                </mat-card>
                <mat-card class="containStyle">
                  <span>Beskrivelse:</span>
                  <span class="txtStyle">{{eventList.description}}</span>
                </mat-card>
                <mat-card class="containStyle">
                  <span>Lokation:</span>
                  <span class="txtStyle">{{eventList.location}}</span>
                </mat-card>
                <mat-card class="containStyle">
                  <span>StartDato:</span>
                  <span class="txtStyle">{{eventList.startDate}}</span>
                </mat-card>
                <mat-card class="containStyle">
                  <span>SlutDato:</span>
                  <span class="txtStyle">{{eventList.endDate}}</span>
                </mat-card>
              </div>
            </mat-expansion-panel>
        </mat-accordion>
    </table>
  </mat-card>
</div>