<div class="main">
  <mat-card>
    <mat-toolbar class="login-header" style="background: linear-gradient(#6c6c6d, #cfd4d6); height: 100px;">
      <mat-tab-group>
        <mat-tab label="Find bryggeri med bryggerinavn">
          <form class="example-form" style="justify-content: center; width: 100%;">
            <mat-form-field class="txtHeader">
              <input matInput type="search" [(ngModel)]="searchkeyBryggeriNavn" (ngModelChange)="onFindBryggeriNavn()"
                [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </form>
        </mat-tab>
        <mat-tab label="Find bryggeri med samarbejde">
          <form class="example-form" style="justify-content: center; width: 100%;">
            <mat-form-field class="txtHeader">
              <input matInput type="search" [(ngModel)]="searchkeyBryggeriSamarbejde"
                (ngModelChange)="onFindBryggeriSamarbejde()" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </form>
        </mat-tab>
      </mat-tab-group>
    </mat-toolbar>
  </mat-card>
  <mat-card style="background-color: transparent; border-color: transparent;">
    <table style="width: 100%; height: 100%; display: flex; background-color: transparent;">
      <mat-accordion class="example-headers-align" multi style="width: 100%; background-color: transparent">
        <mat-expansion-panel *ngFor="let bryg of bryggeri" style="margin-top: 10px; width: 40%;" class="centers" hideToggle="true">
          <mat-expansion-panel-header
            style="background: linear-gradient(rgb(192, 193, 194), rgb(231, 234, 236)); justify-content: center;">
            <mat-panel-title class="centers" style="justify-content: center;">
              <span style="font-weight: bold; margin-right: 20px;"> Bryggerinavn:</span>
              <span>{{bryg.navn}}</span>
            </mat-panel-title>
            <mat-action-row class="centers" style="justify-content: center;">
              <!-- <button mat-button class="btnMainStyle" (click)="onVisBryggeri(bryg.id)">vis </button> -->
              <button mat-button class="btnMainStyle" (click)="onOpdaterBryggeri(bryg.id)">Update </button>
              <button mat-button class="btnMainStyle" (click)="onSletBryggeri(bryg.id)">Slet </button>
            </mat-action-row>
          </mat-expansion-panel-header>
        
            <mat-card class="containStyle">
              <span>beskrivelse:</span>
              <span class="txtStyle">{{bryg.beskrivelse}}</span>
            </mat-card>
            <mat-card class="containStyle">
              <span>logo:</span>
              <span class="txtStyle"><img [src]="this.bryg.bryggeriLogo" alt=""
                  style="width: 40%; height: 40%;"></span>
            </mat-card>
          <div>
            <mat-card class="containStyle">
              <span>Samarbejde:</span>
              <span *ngFor=" let samarbejde of samarbejder" class="txtStyle">{{samarbejde.titel}}</span>
            </mat-card>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </table>
  </mat-card>
</div>