<div style="width: 100%;">
    <mat-toolbar style="width: 100%;">
        <Input type="search">
        <span>Nano-Bryggere</span>
    </mat-toolbar>
    <div fxLayoutAlign="center center" style="width: 100%;">
        <table class="main-div" style="width: 80%;">
            <!-- <mat-list *ngFor="let event of events"> -->
            <mat-list style="background-color: #FFAF66;">
                <mat-toolbar class="login-header" style="background-color: #42a0f8; justify-content: center;">
                    <button mat-raised-button style="background-color: rgb(30, 122, 228); width: 120px; height: 40px;">Lager</button>
                    <h1>Event Navn</h1>
                </mat-toolbar>
                <mat-list-item style="color: black;">item1</mat-list-item>
                <mat-list-item style="color: black;">item2</mat-list-item>
                <mat-list-item style="color: black;">item3</mat-list-item>
                <mat-list-item style="color: black;">item4</mat-list-item>
                <mat-list-item style="color: black;">item5</mat-list-item>
                <mat-list-item style="color: black;">item6</mat-list-item>
            </mat-list>
        </table>
    </div>
</div>