<mat-toolbar style="background-color: rgb(69, 69, 214);" >
    <mat-toolbar-row>

      <Button mat-button [matMenuTriggerFor]="menu" class="menuBarStyle" >
        <mat-icon >menu</mat-icon>
      </Button>
      <mat-menu #menu="matMenu">
        <!-- <button mat-menu-item [matMenuTriggerFor]="login"><mat-icon aria-hidden="false">login</mat-icon>Login</button> -->
        <button mat-menu-item [matMenuTriggerFor]="main"><mat-icon aria-hidden="false">home</mat-icon>Hjem</button>
        <button mat-menu-item [matMenuTriggerFor]="forum"><mat-icon aria-hidden="false">chat</mat-icon>Forum</button>
        <button mat-menu-item [matMenuTriggerFor]="event"><mat-icon aria-hidden="false">calendar_today</mat-icon>Event</button>
        <button mat-menu-item [matMenuTriggerFor]="ol"><mat-icon aria-hidden="false">local_drink</mat-icon>Øl</button>
        <button mat-menu-item [matMenuTriggerFor]="samarbejde"><mat-icon aria-hidden="false">group</mat-icon>Samarbejde</button>
        <button mat-menu-item [matMenuTriggerFor]="admin" *ngIf="erAdmin"><mat-icon aria-hidden="false">assignment</mat-icon>Admin</button>
        <!-- <button mat-menu-item [matMenuTriggerFor]="admin" ><mat-icon aria-hidden="false">group</mat-icon>Admin</button> -->
      </mat-menu>

      <mat-menu #login="matMenu">
        <button mat-menu-item [routerLink]="['/login/login']">
          <span><a href="/login/login" style="text-decoration:none; height: 100%; width: 100%;">Login</a></span>
        </button>
        <button mat-menu-item >
          <span><a href="/login/glemte-kodeord" style="text-decoration:none;">Glemt Password</a></span>
        </button>
        <button mat-menu-item >
          <span><a href="/login/rediger-kodeord" style="text-decoration:none;">Edit Password</a></span>
        </button>
        <button mat-menu-item >
          <span><a href="/login/registration" style="text-decoration:none;">Registere</a></span>
        </button>
      </mat-menu>

      <mat-menu #main="matMenu">
        <button mat-menu-item (click)="onClickMenu()"> 
          <span><a>Forside</a></span>
        </button>
        <button mat-menu-item [routerLink]="['/main/profil']">
          <a>Profil</a>
        </button>
        <button mat-menu-item [routerLink]="['/main/certifikat']">
          <span><a>Certifikat</a></span>
        </button>
      </mat-menu>

      <mat-menu #forum="matMenu">
        <button mat-menu-item [routerLink]="['/forum/forum']">
          <span><a>Forum</a></span>
        </button>
       <!--  <button mat-menu-item [routerLink]="['/forum/forum-post']">
          <span><a>Post</a></span>
        </button>
        <button mat-menu-item [routerLink]="['/forum/forum-tags']">
          <span><a>Tags</a></span>
        </button> -->
      </mat-menu>

      <mat-menu #event="matMenu">
        <button mat-menu-item [routerLink]="['/events/mine-events']">
          <span><a>Mine Events</a></span>
        </button>
        <button mat-menu-item [routerLink]="['/events/events']">
          <span><a>Søg Events</a></span>
        </button>
      </mat-menu>

      <mat-menu #ol="matMenu">
        <button mat-menu-item [routerLink]="['/main/katalog']">
          <span><a>Katalog</a></span>
        </button>
        <button mat-menu-item [routerLink]="['/øl/øl-søgning']">
          <span><a>Find Øl</a></span>
        </button>
      </mat-menu>

      <mat-menu #samarbejde="matMenu">
        <button mat-menu-item [routerLink]="['/main/samarbejds-side']">
          <span><a>Samarbejde side</a></span>
        </button>
      </mat-menu>

      <mat-menu #admin="matMenu">
        <button mat-menu-item [routerLink]="['/admin/admin']">
          <span><a>Admin side</a></span>
        </button>
      </mat-menu>

      <span class="example-spacer"></span>
      <span [routerLink]="['/main/main']">Nano Bryggere</span>
    </mat-toolbar-row>
</mat-toolbar>