<mat-toolbar style="background-color: rgb(69, 69, 214);" >
    <mat-toolbar-row>

      <Button mat-button [matMenuTriggerFor]="menu" class="menuBarStyle" >
        <mat-icon >menu</mat-icon>
      </Button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="login" *ngIf=""><mat-icon aria-hidden="false">login</mat-icon>Login</button>
        <button mat-menu-item [matMenuTriggerFor]="main"><mat-icon aria-hidden="false">home</mat-icon>Main</button>
        <button mat-menu-item [matMenuTriggerFor]="forum"><mat-icon aria-hidden="false">chat</mat-icon>Forum</button>
        <button mat-menu-item [matMenuTriggerFor]="event"><mat-icon aria-hidden="false">calendar_today</mat-icon>Event</button>
        <button mat-menu-item [matMenuTriggerFor]="ol"><mat-icon aria-hidden="false">local_drink</mat-icon>Øl</button>
      </mat-menu>

      <mat-menu #login="matMenu">
        <button mat-menu-item >
          <span><a href="/login/login" style="text-decoration:none">Login</a></span>
        </button>
        <button mat-menu-item >
          <span><a href="/login/glemtpassword" style="text-decoration:none">Glemt Password</a></span>
        </button>
        <button mat-menu-item >
          <span><a href="/login/editpassword" style="text-decoration:none">Edit Password</a></span>
        </button>
        <button mat-menu-item >
          <span><a href="/login/registrer" style="text-decoration:none">Registere</a></span>
        </button>
      </mat-menu>

      <mat-menu #main="matMenu">
        <button mat-menu-item>
          <span><a href="/main/main" style="text-decoration:none">Forside</a></span>
        </button>
        <button mat-menu-item >
          <span><a href="/main/profil" style="text-decoration:none">Profil</a></span>
        </button>
        <button mat-menu-item >
          <span><a href="/main/certifikat" style="text-decoration:none">Certifikat</a></span>
        </button>
      </mat-menu>

      <mat-menu #forum="matMenu">
        <button mat-menu-item >
          <span><a href="/forum/forum" style="text-decoration:none">Forside</a></span>
        </button>
        <button mat-menu-item >
          <span><a href="/forum/forumpost" style="text-decoration:none">Post</a></span>
        </button>
        <button mat-menu-item >
          <span><a href="/forum/forumtags" style="text-decoration:none">Tags</a></span>
        </button>
      </mat-menu>

      <mat-menu #event="matMenu">
        <button mat-menu-item >
          <span><a href="/events/mine-events" style="text-decoration:none">Mine Events</a></span>
        </button>
        <button mat-menu-item >
          <span><a href="/events/events" style="text-decoration:none">Søg Events</a></span>
        </button>
      </mat-menu>

      <mat-menu #ol="matMenu">
        <button mat-menu-item >
          <span><a href="/main/katalog" style="text-decoration:none">Katalog</a></span>
        </button>
        <button mat-menu-item >
          <span><a href="/ol/sogning" style="text-decoration:none">Find Øl</a></span>
        </button>
      </mat-menu>

      <span class="example-spacer"></span>
      <span>Nano Bryggere</span>
    </mat-toolbar-row>

</mat-toolbar>

