<mat-card class="main" id="imgeUp">
  <mat-card-title class="txt" style="margin-top: 100px;">
    Indtast dit nyt password
  </mat-card-title>
  <mat-card-content class="container">
    <form [formGroup]="EditPWForm"  class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Indtast det nyt password</mat-label>
        <input matInput formControlName="PWCtrl" placeholder="Password" type="password" required>
        <mat-error>
          Vær Venlig at udfyld feltet med din ny password
      </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Gentag det nyt password</mat-label>
        <input matInput formControlName="PWCtrl" placeholder="Password" type="password" required>
        <mat-error>
          Det er ikke det sammen password
      </mat-error>
      </mat-form-field>
      <button mat-raised-button type="submit" class="login-btn">Change password</button>
    </form>
  </mat-card-content>

</mat-card>
