<h1 mat-dialog-title>Rediger Bryggerioplysninger</h1>
<div mat-dialog-content>
  <form [formGroup]="RedigerBryggeri"  class="example-form" *ngIf="bryggeriList" >

      <mat-form-field class="example-full-width" appearance="fill" >
      <mat-label>Logo</mat-label>
      <input matInput  formControlName="logoCtl" placeholder="{{bryggeriList.logo}}" [(ngModel)]="bryggeriList.logo">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Navn</mat-label>
      <input matInput  formControlName="navnCtl"  placeholder="{{bryggeriList.navn}}" [(ngModel)]="bryggeriList.navn">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Beskrivelse</mat-label>
      <input matInput  formControlName="beskrivelseCtl"  placeholder="{{bryggeriList.beskrivelse}}" [(ngModel)]="bryggeriList.beskrivelse">
    </mat-form-field>

<div mat-dialog-actions class="btn-container">
  <button mat-button (click)="onClose(false)" mat-dialog-close mat-dialog-close="false">Annulere</button>
  <button mat-button cdkFocusInitial mat-dialog-close [mat-dialog-close]="bryggeriList"  >Gem Ændringer</button>
</div>
</form>
</div>
