<h1 mat-dialog-title>Rediger Bryggerioplysninger</h1>
<div mat-dialog-content>
  <form [formGroup]="updateForm"  class="example-form" *ngIf="breweryList" >

      <mat-form-field class="example-full-width" appearance="fill" >
      <mat-label>Logo</mat-label>
      <input matInput  formControlName="logoCtl"  >
      <img [src]="this.breweryList.logo" alt="" style="width: 20%; height: 20%;">
      <input type="file" class="btnMainStyle" (change)="onSubmitCertifikats($event)" >
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Navn</mat-label>
      <input matInput  formControlName="nameCtl"  placeholder="{{breweryList.name}}" [(ngModel)]="breweryList.name">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Beskrivelse</mat-label>
      <input matInput  formControlName="descriptionCtl"  placeholder="{{breweryList.description}}" [(ngModel)]="breweryList.description">
    </mat-form-field>

<div mat-dialog-actions class="btn-container">
  <button mat-button (click)="dialogRefUpdateProfil.close(false)" mat-dialog-close mat-dialog-close="false" >Annulere</button>
  <button mat-button cdkFocusInitial mat-dialog-close [mat-dialog-close]="breweryList"  >Gem Ændringer</button>

 <!--  <button mat-button (click)="onClose()" mat-dialog-close mat-dialog-close="false" >Annulere</button>
  <button mat-button cdkFocusInitial mat-dialog-close [mat-dialog-close]="bryggeriList"  >Gem Ændringer</button> -->
</div>
</form>
</div>
