.main{
    height: 100%;
  }

.list {
    justify-content: center;
  }

.list-item-set{
  color: black;
  font-weight: bold;
  }

  .containStyle{
    background-color: rgb(252, 252, 252);
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    padding-left: 40px;
    font-style: oblique;
  }

.centers{
  margin: auto;
  width: 20%;
  padding: 10px;
  text-align: center;
  flex: 1 1 auto;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
  margin-top: 10px;
  font-style: oblique;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.mat-tab-group {
  margin-bottom: 5px;
}

.txt{
  margin: 10px;
  font-weight: bolder;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  text-align: center;
}

.titelStyle{
  font-style: italic;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align: center;
}

.txtStyle{
  font-style: italic;
  display: flex;
 justify-content: center;
 text-align: center;
}

.txtHeader{
  font-size: 15px;
  font-style: oblique;
  width: 20%;
  text-align: center;
}

.txtbtn {
  font-size: 14px;
  color: black;
  font-style: italic;
  text-align: center;
}

.cards {
  outline: none;
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
  background-color: transparent;
}