<div class="main" id="imgeUp">
    <mat-toolbar class="login-header" style="background: linear-gradient(#238ff5, #23baf5);">
        <form class="example-form" style="justify-content: center;">
            <mat-form-field>
                <input matInput placeholder="Søgning" type="search">
            </mat-form-field>
        </form>
    </mat-toolbar>
    <table style="width: 100%; height: 100%; display: flex;">
        <mat-accordion class="example-headers-align" multi style="width: 100%;">
            <mat-expansion-panel *ngFor="let user of users" style="margin-top: 10px;">
                <mat-expansion-panel-header
                    style="background: linear-gradient(rgb(30, 122, 228), rgb(75, 127, 185)); justify-content: center; width: 100%;">
                    <mat-panel-title class="centers" style="justify-content: center;">
                        Brugernavn
                        {{user.navn}}
                    </mat-panel-title>
                    <mat-action-row class="centers" style="justify-content: center;">
                        <button mat-button class="btnMainStyle" (click)="onSletBruger(user.id)">Slet Bruger</button>
                        <button mat-button class="btnMainStyle" (click)="onFindBruger(user.id)">Se Bruger</button>
                    </mat-action-row>
                </mat-expansion-panel-header>
                <mat-card class="containStyle">
                    <p>beskrivelse:</p>
                    <p>{{user.beskrivelse}}</p>
                </mat-card>
                <mat-card class="containStyle">
                    <p>Logo:</p>
                    <p>{{user.logo}}</p>
                </mat-card>
            </mat-expansion-panel>
        </mat-accordion>
    </table>
</div>
