<div class="main" id="imgeUp">
  <mat-card >
    <mat-toolbar class="login-header" style="background: linear-gradient(#6c6c6d, #cfd4d6); height: 100px;"  >
      <mat-tab-group>
        <mat-tab label="Find bruger med BrugerEfternavn" >
          <form class="example-form" style="justify-content: center; width: 100%;">
            <mat-form-field  class="txtHeader">
                <input matInput type="search"  [(ngModel)]="searchkeyBrugerEnavn" (ngModelChange)="onFindBrugereEnavn()" [ngModelOptions]="{standalone: true}" >
            </mat-form-field>
        </form>
        </mat-tab>
        <mat-tab label="Find bruger med Brugernavn">
          <form class="example-form" style="justify-content: center; width: 100%;">
            <mat-form-field  class="txtHeader">
                <input matInput type="search"  [(ngModel)]="searchkeyBrugernavn" (ngModelChange)="onFindBrugerenavn()" [ngModelOptions]="{standalone: true}" >
            </mat-form-field>
        </form>
        </mat-tab>
        <mat-tab label="Find bruger med Email" >
          <form class="example-form" style="justify-content: center; width: 100%;"  >
            <mat-form-field  class="txtHeader">
                <input matInput type="search"  [(ngModel)]="searchkeyEmail" (ngModelChange)="onFindEmail()" [ngModelOptions]="{standalone: true}" >
            </mat-form-field>
        </form>
        </mat-tab>
      </mat-tab-group>

   </mat-toolbar>
  </mat-card>
    <mat-card>
    <table style="width: 100%; height: 100%; display: flex;" >
        <mat-accordion class="example-headers-align" multi style="width: 100%;">
             <mat-expansion-panel *ngFor="let user of users " style="margin-top: 10px;"  [disabled]="clickButton" (click)="clickButton=true" >
                <mat-expansion-panel-header
                    style="background: linear-gradient(rgb(192, 193, 194), rgb(231, 234, 236)); justify-content: center; width: 100%;">
                    <mat-panel-title class="centers" style="justify-content: center;">

                       <span style="font-weight: bold; margin-right: 20px;"> Brugernavn:</span>
                       <span>{{user.brugernavn}}</span>
                    </mat-panel-title>
                    <mat-action-row class="centers" style="justify-content: center;">
                      <button mat-button class="btnMainStyle" (click)="onSletBruger(user.id)">Slet </button> |
                      <button mat-button class="btnMainStyle" (click)="onUpdateBruger(user.id)">Update </button> |
                      <button mat-button class="btnMainStyle" (click)="onVisBruger(user.id)">vis </button>
                    </mat-action-row>
                  </mat-expansion-panel-header>
                  <div *ngIf="kontaktoplysninger">
                    <mat-card class="containStyle">
                      <span>Fornavn:</span>
                      <span class="txtStyle">{{kontaktoplysninger.fnavn}}</span>
                    </mat-card>
                    <mat-card class="containStyle">
                      <span>Efternavn:</span>
                      <span class="txtStyle">{{kontaktoplysninger.enavn}}</span>
                    </mat-card>
                    <mat-card class="containStyle">
                      <span>Addresselinje1:</span>
                      <span class="txtStyle">{{kontaktoplysninger.addresselinje1}}</span>
                    </mat-card>
                    <mat-card class="containStyle">
                      <span>Addresselinje2:</span>
                      <span class="txtStyle">{{kontaktoplysninger.addresselinje2}}</span>
                    </mat-card>
                    <mat-card class="containStyle">
                      <span>Telefonnr:</span>
                      <span class="txtStyle">{{kontaktoplysninger.telefonnr}}</span>
                    </mat-card>
                    <mat-card class="containStyle">
                      <span>Email:</span>
                      <span class="txtStyle">{{kontaktoplysninger.email}}</span>
                    </mat-card>
                    <mat-card class="containStyle">
                      <span>Postnr:</span>
                      <span class="txtStyle">{{kontaktoplysninger.postnr}}</span>
                    </mat-card>
                    <mat-card class="containStyle">
                      <span>By:</span>
                      <span class="txtStyle">{{kontaktoplysninger.by}}</span>
                    </mat-card>
                  </div>


                </mat-expansion-panel>
              </mat-accordion>
            </table>
          </mat-card>
        </div>

