<div class="main" id="imgeUp">
  <mat-card>
    <mat-toolbar class="login-header" style="background: linear-gradient(#6c6c6d, #cfd4d6); height: 100px;">
      <mat-tab-group>
        <mat-tab label="Find bruger med Efternavn">
          <form class="example-form" style="justify-content: center; width: 100%;">
            <mat-form-field class="txtHeader">
              <input matInput type="search" [(ngModel)]="searchkeyBrugerEnavn" (ngModelChange)="onFindBrugerEnavn()"
                [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </form>
        </mat-tab>
        <mat-tab label="Find bruger med Brugernavn">
          <form class="example-form" style="justify-content: center; width: 100%;">
            <mat-form-field class="txtHeader">
              <input matInput type="search" [(ngModel)]="searchkeyBrugernavn" (ngModelChange)="onFindBrugernavn()"
                [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </form>
        </mat-tab>
        <mat-tab label="Find bruger med Email">
          <form class="example-form" style="justify-content: center; width: 100%;">
            <mat-form-field class="txtHeader">
              <input matInput type="search" [(ngModel)]="searchkeyEmail" (ngModelChange)="onFindEmail()"
                [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </form>
        </mat-tab>
        <mat-tab label="Find bruger med EventsTitel">
          <form class="example-form" style="justify-content: center; width: 100%;">
            <mat-form-field class="txtHeader">
              <input matInput type="search" [(ngModel)]="searchkeyEventsTitel"
                (ngModelChange)="onFindBrugernavnByEventsTitel()" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </form>
        </mat-tab>
      </mat-tab-group>
      <h1 style="justify-content: center;">Bruger liste</h1>
    </mat-toolbar>
  </mat-card>
  <mat-card>
    <table style="width: 100%; height: 100%; display: flex;">
      <mat-accordion class="example-headers-align" multi style="width: 100%;">
        <mat-expansion-panel *ngFor="let bruger of brugere" style="margin-top: 10px;" [disabled]="clickButton" (click)="clickButton=true">
          <mat-expansion-panel-header style="background: linear-gradient(rgb(192, 193, 194), rgb(231, 234, 236)); justify-content: center; width: 100%;">
            <mat-panel-title class="centers" style="justify-content: center;">
              <span style="font-weight: bold; margin-right: 20px;"> Brugernavn:</span>
              <span>{{bruger.brugernavn}}</span>
            </mat-panel-title>
            <mat-action-row class="centers" style="justify-content: center;">
              <button mat-button class="btnMainStyle" (click)="onVisBruger(bruger.id)">Vis </button> 
              <button mat-button class="btnMainStyle" (click)="onOpdaterBruger(bruger.id)">Update </button> 
              <button mat-button class="btnMainStyle" (click)="onSletBruger(bruger.id)">Slet </button>

            </mat-action-row>
          </mat-expansion-panel-header>
          <div *ngIf="kontaktOplysninger">
            <mat-card class="containStyle">
              <span>Fornavn:</span>
              <span class="txtStyle">{{kontaktOplysninger.fnavn}}</span>
            </mat-card>
            <mat-card class="containStyle">
              <span>Efternavn:</span>
              <span class="txtStyle">{{kontaktOplysninger.enavn}}</span>
            </mat-card>
            <mat-card class="containStyle">
              <span>Addresselinje1:</span>
              <span class="txtStyle">{{kontaktOplysninger.adresseLinje1}}</span>
            </mat-card>
            <mat-card class="containStyle">
              <span>Addresselinje2:</span>
              <span class="txtStyle">{{kontaktOplysninger.adresseLinje2}}</span>
            </mat-card>
            <mat-card class="containStyle">
              <span>Telefonnr:</span>
              <span class="txtStyle">{{kontaktOplysninger.telefonNr}}</span>
            </mat-card>
            <mat-card class="containStyle">
              <span>Email:</span>
              <span class="txtStyle">{{kontaktOplysninger.email}}</span>
            </mat-card>
            <mat-card class="containStyle">
              <span>Postnr:</span>
              <span class="txtStyle">{{kontaktOplysninger.postNr}}</span>
            </mat-card>
            <mat-card class="containStyle">
              <span>By:</span>
              <span class="txtStyle">{{kontaktOplysninger.by}}</span>
            </mat-card>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </table>
  </mat-card>
</div>