<div class="main" id="imgeUp">
    <mat-toolbar class="login-header" style="background: linear-gradient(#238ff5, #23baf5);">
        <button mat-raised-button style="background-color: rgb(30, 122, 228); width: 120px; height: 40px; border-width: 0; margin-right: 20px;"
            (click)="onOpretForum()">Opret Forum</button>
        <form class="example-form" style="justify-content: center;">
            <mat-form-field>
                <input matInput type="search" placeholder="Find Forum" [(ngModel)]="searchkey"
                    (ngModelChange)="onFindForum()" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
        </form>
    </mat-toolbar>
    <table style="width: 100%; height: 100%; display: flex;">
        <mat-accordion class="example-headers-align" multi style="width: 100%;">
            <mat-expansion-panel *ngFor="let forum of forums">
                <mat-expansion-panel-header
                    style="background: linear-gradient(rgb(30, 122, 228), rgb(75, 127, 185)); justify-content: center; width: 100%;">
                    <mat-panel-title class="centers" style="justify-content: center;">
                        {{forum.titel}}
                    </mat-panel-title>
                    <!-- if statement så knapperne kun vises hvis det er brugerens forum -->
                    <mat-action-row class="centers" style="justify-content: center;">
                        <button mat-button class="btnMainStyle" (click)="onSletForum(forum.id)">Slet Forum</button>
                        <button mat-button class="btnMainStyle" (click)="onOpdaterForum(forum.id)">Rediger Forum</button>
                    </mat-action-row>
                </mat-expansion-panel-header>
                <mat-card class="containStyle">
                    <p>Beskrivelse:</p>
                    <p>{{forum.beskrivelse}}</p>
                </mat-card>
                <button mat-button class="btnMainStyle" (click)="showforum = !showforum">Indsend Kommentar</button>
                <mat-card *ngIf="showforum" class="messageStyle">
                    <form [formGroup]="OpretForm" class="example-form" style="justify-content: center;">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <input matInput type="text" [(ngModel)]="postOprettelse.title" formControlName="title"
                                placeholder="Titel" class="input-control">
                            <mat-error>
                                Dette felt skal udfyldes
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <input matInput type="text" [(ngModel)]="postOprettelse.indhold" formControlName="indhold"
                                placeholder="Indhold" class="input-control">
                            <mat-error>
                                Dette felt skal udfyldes
                            </mat-error>
                        </mat-form-field>
                        <mat-action-row class="centers" style="justify-content: center;">
                            <button mat-button class="btnMainStyle" (click)="showforum = !showforum"
                                style="background: linear-gradient(#f5232e, #f52323);">Annuller</button>
                            <button mat-button class="btnMainStyle" (click)="onGodkendPost()"
                                style="background: linear-gradient(#23f582, #23f523);">Godkend</button>
                        </mat-action-row>
                    </form>
                </mat-card>
                <mat-card *ngFor="let post of posts">
                    <mat-panel-title class="centers" style="justify-content: center;">
                        {{post.titel}}
                    </mat-panel-title>
                    <mat-card class="containStyle">
                        <p>{{post.indhold}}</p>
                    </mat-card>
                    <mat-action-row class="centers" style="justify-content: center;">
                        <button mat-button class="btnMainStyle" (click)="onSletPost(forum.id)">Slet Post</button>
                        <button mat-button class="btnMainStyle" (click)="onOpdaterPost(forum.id)">Rediger Post</button>
                    </mat-action-row>
                </mat-card>
            </mat-expansion-panel>
        </mat-accordion>
    </table>
</div>