<div class="main" id="imgeUp">
    <mat-toolbar class="login-header"
        style="background: linear-gradient(rgb(192, 193, 194), rgb(231, 234, 236)); width: 100%;">
        <button mat-raised-button
            style="background-color: rgb(192, 193, 194), rgb(231, 234, 236); width: 120px; height: 40px; border-width: 0; margin-right: 20px;"
            (click)="onOpretForum()">Opret Forum</button>
        <form class="example-form" style="justify-content: center;">
            <mat-form-field class="txtHeader">
                <input matInput type="search" placeholder="Find Forum" [(ngModel)]="searchkey"
                    (ngModelChange)="onFindForum()" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
        </form>
        <h1 class="centersheader">Forum</h1>
    </mat-toolbar>
    <table style="width: 100%; height: 100%; justify-content: center;">
        <mat-accordion class="example-headers-align" multi style="width: 100%; justify-content: center;">
            <mat-expansion-panel *ngFor="let forum of forums" [disabled]="clickButton" expanded="false" class="centers"
                (click)="clickButton=true" style="width: 40%; justify-content: center;">
                <mat-expansion-panel-header
                    style="background: linear-gradient(rgb(192, 193, 194), rgb(231, 234, 236));">
                    <mat-panel-title class="centers" style="color: black;">
                        <span class="titelStyle" style="margin-right: 10px;">Titel:</span>
                        <span>{{forum.titel}}</span>
                    </mat-panel-title>
                    <mat-action-row class="centers cards" style="justify-content: center;">
                        <button mat-button class="txtBtn" (click)="onVisPost(forum.id)">Vis Besked</button>
                        <button mat-button class="txtBtn" *ngIf="brugerId == forum.brugerId" (click)="onSletForum(forum.id)">Slet Forum</button>
                        <button mat-button class="txtBtn" *ngIf="brugerId == forum.brugerId" (click)="onOpdaterForum(forum.id)">Opdater Forum</button>
                    </mat-action-row>
                </mat-expansion-panel-header>
                <mat-card class="containStyle">
                    <p class="titelStyle">Forum beskrivelse:</p>
                    <span>{{forum.beskrivelse}}</span>
                    <span style="float: right;">{{forum.oprettet}}</span>
                </mat-card>
                <div *ngFor="let post of posts">
                    <mat-card class="containStyle">
                        <div>
                            <span class="titelStyle">Titel:</span>
                            <span >{{post.titel}}</span>
                            <span class="titelStyle">Indhold:</span>
                            <span>{{post.indhold}}</span>
                            <span style="float: right;">{{post.opretDato}}</span>
                        </div>
                        <mat-action-row>
                            <button mat-button class="btnMainStyle" *ngIf="brugerId == post.brugerId" (click)="onSletPost(post.id)">Slet Besked</button>
                            <button mat-button class="btnMainStyle" *ngIf="brugerId == post.brugerId" (click)="onOpdaterPost(post.id)">Opdater Besked</button>
                            <mat-card class="containStyle" *ngIf="brugerId != post.brugerId">
                                <form [formGroup]="svarForm" class="example-form">
                                    <mat-form-field class="example-full-width" appearance="fill"
                                        style="justify-content: center; width: 100%;">
                                        <input matInput type="text" [(ngModel)]="postSvar.titel" formControlName="titel"
                                            placeholder="titel" class="input-control" style="width:100%">
                                        <mat-error>
                                            Dette felt skal udfyldes
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width" appearance="fill"
                                        style="justify-content: center; width: 100%;">
                                        <input matInput type="text" [(ngModel)]="postSvar.indhold"
                                            formControlName="indhold" placeholder="indhold" class="input-control"
                                            style="width:100%">
                                        <mat-error>
                                            Dette felt skal udfyldes
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-action-row class="centers" style="justify-content: center;">
                                        <button mat-button class="btnMainStyle" (click)="onSvarPost(forum.id, post.id)"
                                            style="padding: 0px; background: linear-gradient(rgb(192, 193, 194), rgb(231, 234, 236));">Svar besked</button>
                                    </mat-action-row>
                                </form>
                            </mat-card>
                        </mat-action-row>
                        <div *ngIf="postSvar.postId">
                            <span class="titelStyle">Titel:</span>
                            <span >{{post.titel}}</span>
                            <span class="titelStyle">Indhold:</span>
                            <span>{{post.indhold}}</span>
                            <span style="float: right;">{{post.opretDato}}</span>
                        </div>
                        <!-- <p >{{this.listBruger.brugernavn}}:</p> -->
                    </mat-card>
                    <!-- Svar Besked Sektion -->
                </div>
                <mat-card class="containStyle">
                    <form [formGroup]="opretForm" class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill"
                            style="justify-content: center; width: 100%;">
                            <input matInput type="text" [(ngModel)]="postOprettelse.titel" formControlName="titel"
                                placeholder="titel" class="input-control" style="width:100%">
                            <mat-error>
                                Dette felt skal udfyldes
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="fill"
                            style="justify-content: center; width: 100%;">
                            <input matInput type="text" [(ngModel)]="postOprettelse.indhold" formControlName="indhold"
                                placeholder="indhold" class="input-control" style="width:100%">
                            <mat-error>
                                Dette felt skal udfyldes
                            </mat-error>
                        </mat-form-field>
                        <mat-action-row class="centers cards" style="justify-content: center;">
                            <button mat-button class="btnMainStyle" (click)="onGodkendPost(forum.id)"
                                style="background: linear-gradient(rgb(192, 193, 194), rgb(231, 234, 236));">Indsend Kommentar</button>
                        </mat-action-row>
                    </form>
                </mat-card>
            </mat-expansion-panel>
        </mat-accordion>
    </table>
</div>