<mat-drawer-container class="example-container" class="main" id="imgeUp">
  <mat-drawer #drawer mode="side" opened class="main" id="imgeUp">
    <div class="sidebar">
      <h1 class="txt ">Velkommen til Admin side</h1>
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree" class="txt"
        style="background-color: transparent;">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle><button class="btnNode"
            (click)="showComponent(node.name)"> {{node.name}}</button>
        </mat-tree-node>
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
          <div class="mat-tree-node btnNode">
            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            {{node.name}}
          </div>
          <div [class.example-tree-invisible]="!treeControl.isExpanded(node)" role="group">
            <ng-container matTreeNodeOutlet></ng-container>
          </div>
        </mat-nested-tree-node>
      </mat-tree>
    </div>
  </mat-drawer>

  <mat-drawer-content *ngIf="showBrugernavnComponent">
    <app-bruger-admin-side></app-bruger-admin-side>
  </mat-drawer-content>
  <mat-drawer-content *ngIf="showRolleComponent">
    <app-rolle-admin-side></app-rolle-admin-side>
  </mat-drawer-content>
  <mat-drawer-content *ngIf="showBryggeriComponent">
    <app-bryggeri-admin-side></app-bryggeri-admin-side>
  </mat-drawer-content>
  <mat-drawer-content *ngIf="showOlComponent">
    <app-ol-admin-side></app-ol-admin-side>
  </mat-drawer-content>
  <mat-drawer-content *ngIf="showEventsComponent">
    <app-event-admin-side></app-event-admin-side>
  </mat-drawer-content>
  <mat-drawer-content *ngIf="showAdminTagsComponent">
    <app-admin-tags></app-admin-tags>
  </mat-drawer-content>
  <mat-drawer-content *ngIf="showAdminOpretTagsComponent">
    <app-admin-opret-tag></app-admin-opret-tag>
  </mat-drawer-content>
  <mat-drawer-content *ngIf="showAdminRedigerTagsComponent">
    <app-admin-rediger-tag></app-admin-rediger-tag>
  </mat-drawer-content>
  <mat-drawer-content *ngIf="showForumComponent">
    <app-forum-admin-side></app-forum-admin-side>
  </mat-drawer-content>
  <mat-drawer-content *ngIf="showCetifikantComponent">
    <app-bruger-certifikat></app-bruger-certifikat>
  </mat-drawer-content>
</mat-drawer-container>