<mat-card *ngIf="eventInfo">
  <img mat-dialog-title [src]="eventInfo.logo" alt="" style="width: 100%; height: auto;">
    <mat-dialog-content mat-dialog-content class="mat-typography">
      <img [src]="eventInfo.eventPicture" alt="" style="width: 40%; height: 40%;">
      <p>Titel:</p>
      <p class="txtStyle">{{eventInfo.title}}</p>
      <p>Beskrivelse:</p>
      <p class="txtStyle">{{eventInfo.description}}</p>
      <p>StartDato:</p>
      <p class="txtStyle">{{eventInfo.startDate}}</p>
      <p>SlutDato:</p>
      <p class="txtStyle">{{eventInfo.endDate}}</p>
      <p>Lokation:</p>
      <p class="txtStyle">{{eventInfo.location}}</p>
    </mat-dialog-content>
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close >Close</button>
      <button mat-button mat-dialog-close (click)="onJoinEvents(eventInfo.id)" >Join Events</button>
    </div>
  </mat-card>

