<div>
    <mat-toolbar class="login-header" style="background: linear-gradient(#238ff5, #23baf5); width: 100%;">
        <form class="example-form" style="justify-content: center; width: 40%;">
            <mat-form-field style="width: 30%;">
                <input matInput type="search" placeholder="Find tags" [(ngModel)]="searchkey"
                    (ngModelChange)="onFindBeer()" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
        </form>
        <button mat-raised-button style="background-color: rgb(30, 122, 228); width: 120px; height: 40px; border-width: 0; margin-right: 20px;"
        (click)="onCreateTags()">Opret Tags</button>
        <h1 style="justify-content: center; width: 40%;">Tags</h1>
    </mat-toolbar>
    <table style="width: 100%; height: 100%; justify-content: center;">
        <tbody style="justify-content: center; height: 100%; width: 100%; justify-content: center;">
            <tr *ngFor="let tag of tagslist">
                <mat-card style="width: 20%;"><td style="width: 56%;">{{tag.navn}}</td>
                    <td style="justify-content: right;"><button mat-button class="btnMainStyle" (click)="onUpdateTags(tag.id)"><mat-icon>edit</mat-icon></button>
                <button mat-button class="btnMainStyle" (click)="onDeleteTags(tag.id)"><mat-icon>delete_forever</mat-icon></button></td>
            </mat-card>
            </tr>
        </tbody>
    </table>
</div>
<!-- <mat-card *ngFor="let tag of tagsliste" style="height: 3%; width: 15%; justify-content: center; margin-left: 20px; margin-top: 20px;">
    <mat-accordion class="example-headers-align" multi style="width: 100%; justify-content: center;">
        <mat-action-row class="centers" style="justify-content: center;">
        </mat-action-row>
        <mat-panel-title class="centers" style="justify-content: center;">
            <p>{{tag.navn}}</p>
        </mat-panel-title>
    </mat-accordion>
</mat-card> -->