<div class="main" id="imgeUp">
  <mat-card class="cards">
    <mat-card-content class="container centers">
      <form [formGroup]="opretForm" class="example-form" style="justify-content: center; width: 100%;">
        <mat-panel-title class="centers" style="justify-content: center;">
          <h2 class="centers" style="font-weight: bold; width: 60%;">Angiv rapport type:</h2>
          <select matNativeControl class="input-control" formControlName="typenavn" [(ngModel)]="nyRapport.typenavn"
            style="width: 35%;" placeholder="Type">
            <option *ngFor="let item of items" [value]="item.id">{{item.name}})</option>
          </select>
          <h2 style=" font-weight: bold; margin-top: 20px;">Hvad vil du rapporter:</h2>
          <input matInput type="text" placeholder="Titel" formControlName="titel" [(ngModel)]="nyRapport.titel"
            class="input-control" style="width: 35%;">
          <h2 style=" font-weight: bold; margin-top: 20px;">Beskrivelse:</h2>
          <input matInput type="text" placeholder="Besked" formControlName="besked" [(ngModel)]="nyRapport.besked"
            class="input-control" style="width: 35%;">
          <!-- <h2 style=" font-weight: bold; margin-top: 20px;">Anklaget bruger:</h2>
                    <input matInput type="text" placeholder="Anklaget bruger" formControlName="anklagetbruger" [(ngModel)]="nyRapport.anklagetbruger" class="input-control" style="width: 35%;"> -->
        </mat-panel-title>
        <div class="centers" style="margin-top: 10px;">
          <mat-action-row class="cards">
            <button mat-button style="background-color: rgb(20, 206, 75);" (click)="onUploadRapport()">Send
              Rapport</button>
          </mat-action-row>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
    <!-- <mat-card class="cards">
      <mat-card-content>
        <mat-expansion-panel *ngFor="let rapport of rapportListe" style="margin-top: 10px; width: 60%;" class="centers"
          [disabled]="clickButton" (click)="clickButton=true">
          <mat-expansion-panel-header
            style="background: linear-gradient(rgb(192, 193, 194), rgb(231, 234, 236)); justify-content: center;">
            <mat-panel-title class="centers" style="justify-content: center;">
            </mat-panel-title>
            <mat-action-row class="centers cards" style="justify-content: center;">
              <button mat-button class="txtbtn" style="color: black;" (click)="onVisRapportInfo(rapport.id)">Vis info</button>
            </mat-action-row>
          </mat-expansion-panel-header>
          <div *ngIf="listeTest">
            <mat-card class="containStyle">
              <span class="titelStyle">Type:</span>
              <span class="txtStyle">{{listeTest.typeNavn}}</span>
            </mat-card>
            <mat-card class="containStyle">
              <span class="titelStyle">Titel:</span>
              <span class="txtStyle">{{listeTest.titel}}</span>
            </mat-card>
            <mat-card class="containStyle">
              <span class="titelStyle">Bruger id:</span>
              <span class="txtStyle">{{listeTest.brugerId}}</span>
            </mat-card>
            <mat-card class="containStyle">
              <span class="titelStyle">Besked:</span>
              <span class="txtStyle">{{listeTest.besked}}</span>
            </mat-card>
          </div>
        </mat-expansion-panel>
      </mat-card-content>
    </mat-card> -->
</div>