<div class="main" id="imgeUp">
    <mat-toolbar class="login-header" style="background: linear-gradient(#238ff5, #23baf5);">
            <form class="example-form" style="justify-content: center; width: 100%;">
                <mat-form-field style="width: 10%;">
                <input matInput type="search" placeholder="Find event" [(ngModel)]="searchkey" (ngModelChange)="onFindEvent()" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
        </form>
    </mat-toolbar>
    <table style="width: 100%; height: 100%; display: flex;">
        <mat-accordion class="example-headers-align" multi style="width: 100%;">
            <mat-expansion-panel *ngFor="let event of events" style="margin-top: 10px;">
                <mat-expansion-panel-header style="background: linear-gradient(rgb(30, 122, 228), rgb(75, 127, 185)); justify-content: center; width: 100%;">
                    <mat-panel-title class="centers" style="justify-content: center;">
                        Titel: {{event.titel}}
                    </mat-panel-title>
                    <mat-action-row class="centers" style="justify-content: center;">
                        <button mat-button class="btnMainStyle" *ngIf="deltagelse" (click)="onAfmeldEvent(event.id)">Afmeld Deltagelse</button>
                    </mat-action-row>
                </mat-expansion-panel-header>
                <mat-card class="containStyle">
                    <p>Beskrivelse:</p>
                    <p>{{event.beskrivelse}}</p>
                </mat-card>
                <mat-card class="containStyle">
                    <p>Start:</p>
                    <p>{{event.startDato}}</p>
                </mat-card>
                <mat-card class="containStyle">
                    <p>Slut:</p>
                    <p>{{event.slutDato}}</p>
                </mat-card>
                <mat-card class="containStyle">
                    <p>Lokation:</p>
                    <p>{{event.lokation}}</p>
                </mat-card>
            </mat-expansion-panel>
        </mat-accordion>
    </table>
</div>