<mat-card *ngIf="beerInfo">
  <img mat-dialog-title [src]="beerInfo.etiket" alt="" style="width: 100%; height: auto;">
    <mat-dialog-content mat-dialog-content class="mat-typography">
      <p>Øl Navn:</p>
      <p class="txtStyle">{{beerInfo.navn}}</p>
      <p>Øl Type:</p>
      <p class="txtStyle">{{beerInfo.type}}</p>
      <p>Øl Smag:</p>
      <p class="txtStyle">{{beerInfo.smag}}</p>
      <p>Øl Procent:</p>
      <p class="txtStyle">{{beerInfo.procent}}</p>
      <p>Øl Land:</p>
      <p class="txtStyle">{{beerInfo.land}}</p>
      <p>Øl Bryggeprocess:</p>
      <p class="txtStyle">{{beerInfo.bryggeprocess}}</p>
      <p>Øl Årgang:</p>
      <p class="txtStyle" >{{this.argang}}</p>
      <!-- <p class="txtStyle" >&#229;rgang</p> -->
      <p>Øl Antal:</p>
      <p class="txtStyle">{{beerInfo.antal}}</p>
      <p>Øl Beskrivelse:</p>
      <p class="txtStyle">{{beerInfo.beskrivelse}}</p>
    </mat-dialog-content>
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close >Close</button>
    </div>
  </mat-card>
