<h1 mat-dialog-title>Rediger Events</h1>
<div mat-dialog-content>
  <form class="example-form" [formGroup]="updateEvents" *ngIf="eventsList">
    <mat-form-field class="example-full-width" appearance="fill" >
      <mat-label>Logo</mat-label>
      <input matInput  formControlName="eventBilled"  >
      <img [src]="eventsList.eventBilled" alt="" style="width: 20%; height: 20%;">
      <input type="file" class="btnMainStyle" (change)="onSubmitCertificate($event)" >
    </mat-form-field>
     <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Titel:</mat-label>
      <input matInput formControlName="titel" placeholder="{{eventsList.titel}}" [(ngModel)]="eventsList.titel">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Beskrivelse:</mat-label>
      <input matInput formControlName="beskrivelse" placeholder="{{eventsList.beskrivelse}}" [(ngModel)]="eventsList.beskrivelse">
    </mat-form-field>


      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>StartDato:</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="startDato" placeholder="{{eventsList.startDato}}" [(ngModel)]="eventsList.startDato">
        <mat-datepicker-toggle matSuffix [for]="picker1" ></mat-datepicker-toggle>
          <mat-datepicker #picker1 ></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>SlutDato:</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="slutDato" placeholder="{{eventsList.slutDato}}" [(ngModel)]="eventsList.slutDato">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Lokation:</mat-label>
        <input matInput formControlName="lokation" placeholder="{{eventsList.lokation}}" [(ngModel)]="eventsList.lokation">
      </mat-form-field>


<div mat-dialog-actions class="btn-container">
 <button mat-button (click)="dialogRefUpdateEvents.close(false)" >Annulere</button>
  <button mat-button cdkFocusInitial  [mat-dialog-close]="eventsList">Gem Ændringer</button>
</div>
</form>
</div>


