<div class="main" id="imgeUp">
    <mat-toolbar class="login-header" style="background: linear-gradient(#34b8cf, #3f68ee);">
        <form class="example-form" style="justify-content: center;">
            <mat-form-field >
                <input matInput type="text" placeholder="Find øl" [(ngModel)]="search" (ngModelChange)="onFindOl()" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-form-field style="padding: 50px; font-size:large;">
                <mat-select [(value)]="selected">
                    <mat-option>Ingen</mat-option>
                    <mat-option value="option1">Navn</mat-option>
                    <mat-option value="option2">Type</mat-option>
                    <mat-option value="option3">Procent</mat-option>
                    <mat-option value="option3">Smag</mat-option>
                    <mat-option value="option3">Årgang</mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </mat-toolbar>
    <table style="width: 100%; height: 100%; display: flex;">
        <mat-accordion class="example-headers-align" multi style="width: 100%;">
            <mat-expansion-panel *ngFor="let beer of beers" style="margin-top: 10px;">
                <mat-expansion-panel-header
                    style="background: linear-gradient(rgb(30, 122, 228), rgb(75, 127, 185)); justify-content: center; width: 100%;">
                    <mat-panel-title class="centers" style="justify-content: center;">
                        {{beer.navn}}
                    </mat-panel-title>
                    <mat-action-row class="centers" style="justify-content: center;">
                        <button mat-button class="btnMainStyle" (click)="onVisOlInfo(beer.id)">Vis øl info</button>
                    </mat-action-row>
                </mat-expansion-panel-header>
                <mat-card class="containStyle">
                    <p>Type:</p>
                    <p>{{beer.type}}</p>
                </mat-card>
                <mat-card class="containStyle">
                    <p>Procent:</p>
                    <p>{{beer.procent}}</p>
                </mat-card>
                <mat-card class="containStyle">
                    <p>Smag:</p>
                    <p>{{beer.smag}}</p>
                </mat-card>
                <mat-card class="containStyle">
                    <p>Beskrivelse:</p>
                    <p>{{beer.beskrivelse}}</p>
                </mat-card>
                <mat-card class="containStyle">
                    <p>Etiket:</p>
                    <p>{{beer.etiket}}</p>
                </mat-card>
                <mat-card class="containStyle">
                    <p>Antal:</p>
                    <p>{{beer.antal}}</p>
                </mat-card>
            </mat-expansion-panel>
        </mat-accordion>
    </table>
</div>