        <mat-card  class="mat-card-body">
            <mat-toolbar class="login-header">Login</mat-toolbar>
            <form [formGroup]="loginForm" fxLayoutAlign="stretch" fxLayout="column">
                <mat-form-field class="full-width">
                    <input matInput formControlName="email" placeholder="Email" class="input-control">
                    <!-- <mat-error *ngIf="email.errors?.['required']"> -->
                    <mat-error>
                        Vær Venlig at udfyld feltet med din email
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <!-- <input matInput type="password" placeholder="Password" formControlName="password" class="input-control"> -->
                    <input matInput type="password" placeholder="Password" class="input-control">
                </mat-form-field>
                <!-- <button mat-raised-button type="submit" class="login-btn" (click)="getData()">Login</button> -->
                <button mat-raised-button type="submit" class="login-btn" (click)="onSubmitLogin()">Login</button>
                <button mat-raised-button type="submit" class="login-btn" (click)="onSubmitRegistre()" style="background-color: darkolivegreen;">Registre</button>
                <div>
                    <span><a routerLink="glemtpassword" routerLinkActive="active">Glemt Password</a></span>
                </div>
            </form>
        </mat-card>
        <!-- <div *ngFor='let data of datas | async'>
        {{data | json}}
      </div> -->
