<mat-card class="main" id="imgeUp">
    <table style="width: 100%; height: 100%; display: flex; justify-content: center;">
        <button style="height: 5%; background-color: transparent; border-color: transparent;" (click)="onTilbage()">
            <a><span class="material-icons black-color">arrow_back</span></a>
        </button>
        
        <mat-card-content *ngIf="ol"
            style="width: 50%; height: 100%; justify-content: center;">
            <div fxLayout = “row” class="centers" style="width: 100%; height: 8%; margin-top: 100px; background: linear-gradient(rgb(27, 109, 156), rgb(115, 167, 236));">
                        <h1 style="font-weight: bold;">{{ol.navn}}</h1>
                        <button style="background-color: transparent; border-color: transparent;"><mat-icon aria-hidden="false" *ngIf="true">grade</mat-icon></button>
            </div>
            <img [src]="ol.etiket" alt="" style="width: 20%; height: 20%;">
            <div fxlayout="row" fxLayoutAlign="center center" class="row-example"
                style="width: 100%; height: 60%;">
                <mat-grid-list cols="2" rowHeight="2:1" style="width: 100%; height: 20%;">
                    <mat-grid-tile style="width: 50%; height: 100%;">
                        <div>
                            <h1 style="font-weight: bold;">Øl navn:</h1>
                            <h1>{{ol.navn}}</h1>
                            <h1 style="font-weight: bold;">Type:</h1>
                            <h1>{{ol.type}}</h1>
                            <h1 style="font-weight: bold;">Procent:</h1>
                            <h1>{{ol.procent}}</h1>
                            <h1 style="font-weight: bold;">Smag:</h1>
                            <h1>{{ol.smag}}</h1>
                            <h1 style="font-weight: bold;">Beskrivelse:</h1>
                            <h1>{{ol.beskrivelse}}</h1>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile style="width: 50%; height: 100%;">
                        <div *ngIf="oplysninger">
                            <h1 style="font-weight: bold;">Fornavn:</h1>
                            <h1>{{oplysninger.fnavn}}</h1>
                            <h1 style="font-weight: bold;">Efternavn:</h1>
                            <h1>{{oplysninger.enavn}}</h1>
                            <h1 style="font-weight: bold;">Addresse:</h1>
                            <h1>{{oplysninger.addresselinje1}}</h1>
                            <h1 style="font-weight: bold;">Email:</h1>
                            <h1>{{oplysninger.email}}</h1>
                            <h1 style="font-weight: bold;">Telefon Nr:</h1>
                            <h1>{{oplysninger.telefonnr}}</h1>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </mat-card-content>
    </table>
</mat-card>