<mat-card class="main" id="imgeUp">
    <table style="display: flex; justify-content: center;">
        <mat-card-content *ngIf="ol" style="width: 50%; height: 50%; justify-content: center;">
            <div fxLayout="column" fxLayoutAlign="space-evenly"
                style=" height: 6%; background: linear-gradient(rgb(27, 109, 156), rgb(115, 167, 236));">
                <button style="height: 5%; background-color: transparent; border-color: transparent;"
                    (click)="onTilbage()">
                    <a><span class="material-icons black-color">arrow_back</span></a>
                </button>
                <h1 style="font-weight: bold;">{{ol.navn}}</h1>
                <button style="background-color: transparent; border-color: transparent;">
                    <mat-icon aria-hidden="false" *ngIf="true">grade</mat-icon>
                </button>
            </div>
            <div class="centers" style="width: 100%; height: 20%;">
                <img [src]="ol.olBilled" alt="" style="width: 20%; height: 100%; justify-content: center;">
            </div>
            <div fxlayout="row" fxLayoutAlign="center center" class="row-example" style="width: 100%; height: 60%;">
                <mat-grid-list cols="2" rowHeight="2:1" style="width: 100%; height: 20%;">
                    <mat-grid-tile style="width: 50%; height: 100%;">
                        <div>
                            <h1 style="font-weight: bold;">Øl navn:</h1>
                            <h1>{{ol.navn}}</h1>
                            <h1 style="font-weight: bold;">Type:</h1>
                            <h1>{{ol.type}}</h1>
                            <h1 style="font-weight: bold;">Procent:</h1>
                            <h1>{{ol.procent}}</h1>
                            <h1 style="font-weight: bold;">Smag:</h1>
                            <h1>{{ol.smag}}</h1>
                            <h1 style="font-weight: bold;">Beskrivelse:</h1>
                            <h1>{{ol.beskrivelse}}</h1>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile style="width: 50%; height: 100%;">
                        <div *ngIf="kontaktOplysninger">
                            <h1 style="font-weight: bold;">Fornavn:</h1>
                            <h1>{{kontaktOplysninger.fnavn}}</h1>
                            <h1 style="font-weight: bold;">Efternavn:</h1>
                            <h1>{{kontaktOplysninger.enavn}}</h1>
                            <h1 style="font-weight: bold;">Addresse:</h1>
                            <h1>{{kontaktOplysninger.adresseLinje1}}</h1>
                            <h1 style="font-weight: bold;">Email:</h1>
                            <h1>{{kontaktOplysninger.email}}</h1>
                            <h1 style="font-weight: bold;">Telefon Nr:</h1>
                            <h1>{{kontaktOplysninger.telefonNr}}</h1>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </mat-card-content>
    </table>
</mat-card>