.centers {
  margin: auto;
  width: 20%;
  padding: 10px;
  text-align: center;
  flex: 1 1 auto;
}

.cards {
  outline: none;
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}

.titelStyle{
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.txtStyle{
  font-style: italic;
  display: flex;
  justify-content: center;
  text-align: center;
  }

  .txtHeader {
    font-size: 15px;
    font-style: oblique;
    width: 20%;
    text-align: center;
  }