<div class="main" id="imgeUp">
    <mat-toolbar class="login-header" style="background: linear-gradient(#238ff5, #23baf5);">
        <form class="example-form" style="justify-content: center;">
            <mat-form-field>
                <input matInput placeholder="Søgning" type="search">
            </mat-form-field>
        </form>
    </mat-toolbar>
    <table style="width: 100%; height: 100%; display: flex;">
        <mat-accordion class="example-headers-align" multi style="width: 100%;">
            <mat-expansion-panel *ngFor="let oplysning of oplysninger" style="margin-top: 10px;">
                <mat-card class="containStyle">
                    <p>Fornavn:</p>
                    <p>{{oplysning.fnavn}}</p>
                </mat-card>
                <mat-card class="containStyle">
                    <p>Efternavn:</p>
                    <p>{{oplysning.enavn}}</p>
                </mat-card>
                <mat-card class="containStyle">
                    <p>Email:</p>
                    <p>{{oplysning.email}}</p>
                </mat-card>
                <!-- <mat-card class="containStyle">
                    <p>Certifikat:</p>
                    <p>{{oplysning.Certifikat}}</p>
                </mat-card> -->
            </mat-expansion-panel>
        </mat-accordion>
    </table>
</div>
