<mat-card class="main" id="imgeUp" >
  <h1 class="txt">Indtast dine informationer her, for at bruge denne service</h1>
  <div class="container">
    <form [formGroup]="userFormGroup"  novalidate>
<mat-vertical-stepper>
      <mat-step [stepControl]="userFormGroup">
        <ng-template matStepLabel>Indtast din Fornavn</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Fx. Alex" formControlName="fname" [(ngModel)]="newUser.fname" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
      </mat-step>
        <mat-step [stepControl]="userFormGroup">
          <ng-template matStepLabel>Indtast din Efternavn</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>Efternavn</mat-label>
            <input matInput formControlName="sname" placeholder="Fx. Nilsen" [(ngModel)]="newUser.sname" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>
           <mat-step [stepControl]="userFormGroup">
            <ng-template matStepLabel>Indtast din Adresselinje 1</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>Adresselinje 1</mat-label>
            <input matInput formControlName="addressline1" placeholder="Fx. Telegrafvej 9" [(ngModel)]="newUser.addressline1" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>

        <mat-step [stepControl]="userFormGroup">
          <ng-template matStepLabel>Indtast din Adresselinje 2</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>Adresselinje 2</mat-label>
            <input matInput formControlName="addressline2" placeholder="Fx. Telegrafvej 9" [(ngModel)]="newUser.addressline2"  required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>

        <mat-step [stepControl]="userFormGroup">
          <ng-template matStepLabel>Indtast din PostNr</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>PostNr</mat-label>
            <input matInput formControlName="mailNr" placeholder="Fx. 2750" [(ngModel)]="newUser.mailNr" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>

        <mat-step [stepControl]="userFormGroup">
          <ng-template matStepLabel>Indtast din By</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>By</mat-label>
            <input matInput formControlName="city" placeholder="Fx. Ballerup" [(ngModel)]="newUser.city"  required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>

        <mat-step [stepControl]="userFormGroup">
          <ng-template matStepLabel>Indtast din E-mail</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="email" placeholder="Fx. Nilsen@hotmail.com" [(ngModel)]="newUser.email" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>

      <mat-step [stepControl]="userFormGroup">
        <ng-template matStepLabel>Indtast din TelefonNr.</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>TelefonNr</mat-label>
          <input matInput formControlName="phoneNr" placeholder="Fx. 12345678" [(ngModel)]="newUser.phoneNr" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext >Next</button>
        </div>
    </mat-step>

      <mat-step [stepControl]="userFormGroup">
        <ng-template matStepLabel>Vælg Rolle</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>rolleNavn</mat-label>
          <select matNativeControl formControlName="roleName"  [(ngModel)]="newUser.roleName">
            <option value="" selected></option>
            <option value="AnonUser">AnonymBruger</option>
            <option value="User">Bruger</option>
<!--             <option value="Moderator">Moderator</option>
            <option value="Administrator">Administrator</option> -->
          </select>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step [stepControl]="userFormGroup">
        <ng-template matStepLabel>Indtast din brugernavn</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>brugernavn</mat-label>
          <input matInput formControlName="username" placeholder="Fx. nils1236" [(ngModel)]="newUser.username" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step [stepControl]="userFormGroup">
        <ng-template matStepLabel>Indtast din Password</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput formControlName="pw" placeholder="password" [(ngModel)]="newUser.pw" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext (click)="createUser()" type="submit">Next</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>Du er færdig nu.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <a routerLink="/login/login"><button mat-button style="color: black;">Back to login</button></a>
          <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </form>
  </div>
</mat-card>