<div class="main">
    <mat-card>
        <mat-toolbar class="login-header" style="background: linear-gradient(#6c6c6d, #cfd4d6); height: 100px;">
            <mat-tab-group>
                <mat-tab label="Find Samarbejde med Samarbejde navn">
                    <form class="example-form" style="justify-content: center; width: 40%;">
                        <mat-form-field class="txtHeader">
                            <input matInput type="search" placeholder="Find samarbejde"
                                [(ngModel)]="searchkeySamarbejdeNavn" (ngModelChange)="onFindSamarbejdeNavn()"
                                [ngModelOptions]="{standalone: true}">
                        </mat-form-field>
                    </form>
                </mat-tab>
                <mat-tab label="Find Samarbejde med Øl navn">
                    <form class="example-form" style="justify-content: center; width: 100%;">
                        <mat-form-field class="txtHeader">
                            <input matInput style="font-size: 13px; width: 100%;" type="search" placeholder="Find samarbejde"
                                [(ngModel)]="searchkeySamarbejdeBryggeri" (ngModelChange)="onFindSamarbejdeOl()"
                                [ngModelOptions]="{standalone: true}">
                        </mat-form-field>
                    </form>
                </mat-tab>
                <mat-tab label="Opret Samarbejde">
                    <button mat-button class="btnOprette" (click)="onOpretSamarbejde()">Opret Samarbejde</button>
                </mat-tab>
            </mat-tab-group>
        </mat-toolbar>
    </mat-card>
    <mat-card class="cards">
        <table style="width: 100%; height: 100%; display: flex;">
            <mat-accordion class="example-headers-align" multi style="width: 100%;">
                <mat-expansion-panel *ngFor="let samarbejde of samarbejder" style="margin-top: 10px; width: 50%;" class="centers" [disabled]="clickButton" (click)="clickButton=true">
                    <mat-expansion-panel-header
                        style="background: linear-gradient(rgb(192, 193, 194), rgb(231, 234, 236)); justify-content: center;">
                        <mat-panel-title class="centers" style="justify-content: center;">
                            <span style="font-weight: bold; margin-right: 20px; color: black;">Samarbejde navn:</span>
                            <span class="txtbtn">{{samarbejde.titel}}</span>
                        </mat-panel-title>
                        <mat-action-row class="centers cards" style="justify-content: center;">
                            <button mat-button class="txtbtn" (click)="onVisSamarbejde(samarbejde.id)">Vis
                            </button> 
                            <button mat-button class="txtbtn" (click)="onOpdaterSamarbejde(samarbejde.id)">Opdater
                            </button> 
                            <button mat-button class="txtbtn" (click)="onSletSamarbejde(samarbejde.id)">Slet
                            </button>
                        </mat-action-row>
                    </mat-expansion-panel-header>
                    <div *ngIf="bryggeri1">
                        <mat-card class="containStyle">
                            <span class="titelStyle">Navn:</span>
                            <span class="txtStyle">{{bryggeri1.navn}}</span>
                        </mat-card>
                        <mat-card class="containStyle">
                            <span class="titelStyle">Beskrivelse:</span>
                            <span class="txtStyle">{{bryggeri1.beskrivelse}}</span>
                        </mat-card>
                        <mat-card class="containStyle">
                            <span class="titelStyle">Logo:</span>
                            <img [src]="bryggeri1.bryggeriLogo" alt="" style="width: 50%; justify-content: center;">
                        </mat-card>
                    </div>
                    <div *ngIf="bryggeri2">
                        <mat-card class="containStyle">
                            <span class="titelStyle">Navn:</span>
                            <span class="txtStyle">{{bryggeri2.navn}}</span>
                        </mat-card>
                        <mat-card class="containStyle">
                            <span class="titelStyle">Beskrivelse:</span>
                            <span class="txtStyle">{{bryggeri2.beskrivelse}}</span>
                        </mat-card>
                        <mat-card class="containStyle">
                            <span class="titelStyle">Logo:</span>
                            <img [src]="bryggeri2.bryggeriLogo" alt="" style="width: 50%; justify-content: center;">
                        </mat-card>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </table>
    </mat-card>
</div>