.btn-container{
  margin-top: 30px;
  text-align: center;
  cursor:pointer;
  font-style: italic;
  font-size: 15px;
  border:none;
  background-color: white;
  justify-content: space-between;
}

.mat-dialog-title
{
  font-size: 20px;
  font-style: oblique;
}
