<h1 mat-dialog-title>Rediger Kontaktoplysninger</h1>
<div mat-dialog-content>
  <form class="example-form" [formGroup]="updateForm" *ngIf="userInfoList">
     <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Fornavn:</mat-label>
      <input matInput formControlName="FnavnCtl" placeholder="{{userInfoList.fnavn}}" [(ngModel)]="userInfoList.fnavn">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>EfterNavn:</mat-label>
      <input matInput formControlName="EnavnCtl" placeholder="{{userInfoList.enavn}}" [(ngModel)]="userInfoList.enavn">
    </mat-form-field>


      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Addresselinje1:</mat-label>
        <input matInput formControlName="Add1Ctl" placeholder="{{userInfoList.addresselinje1}}" [(ngModel)]="userInfoList.addresselinje1">
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Addresselinje2:</mat-label>
        <input matInput formControlName="Add2Ctl" placeholder="{{userInfoList.addresselinje2}}" [(ngModel)]="userInfoList.addresselinje2">
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Telefonnr:</mat-label>
        <input matInput formControlName="TelCtl" placeholder="{{userInfoList.telefonnr}}" [(ngModel)]="userInfoList.telefonnr">
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email:</mat-label>
        <input matInput formControlName="EmailCtl" placeholder="{{userInfoList.email}}" [(ngModel)]="userInfoList.email">
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Postnr:</mat-label>
        <input matInput formControlName="PostCtl" placeholder="{{userInfoList.postnr}}" [(ngModel)]="userInfoList.postnr">
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>By:</mat-label>
        <input matInput formControlName="ByCtl" placeholder="{{userInfoList.by}}" [(ngModel)]="userInfoList.by">
      </mat-form-field>
<!--       <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Brugernavn:</mat-label>
        <input matInput formControlName="BrugernavnCtl" placeholder="{{this.BrugerList.brugernavn}}" [(ngModel)]="this.BrugerList.brugernavn">
      </mat-form-field> -->
<div mat-dialog-actions class="btn-container">
 <button mat-button (click)="dialogRefUpdateProfile.close(false)" >Annulere</button>
  <button mat-button cdkFocusInitial  [mat-dialog-close]="userInfoList">Gem Ændringer</button>
</div>
</form>
</div>

