
<h1 mat-dialog-title>Rediger Kontaktoplysninger</h1>
<div mat-dialog-content>
  <form class="example-form" [formGroup]="RedigerKontaktOplysninger"  *ngIf="kontaktoplysningerList">
     <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Fornavn:</mat-label>
      <input matInput formControlName="FnavnCtl" placeholder="{{kontaktoplysningerList.fnavn}}" [(ngModel)]="kontaktoplysningerList.fnavn">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>EfterNavn:</mat-label>
      <input matInput formControlName="EnavnCtl" placeholder="{{kontaktoplysningerList.enavn}}" [(ngModel)]="kontaktoplysningerList.enavn">
    </mat-form-field>


      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Addresselinje1:</mat-label>
        <input matInput formControlName="Add1Ctl" placeholder="{{kontaktoplysningerList.addresselinje1}}" [(ngModel)]="kontaktoplysningerList.addresselinje1">
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Addresselinje2:</mat-label>
        <input matInput formControlName="Add2Ctl" placeholder="{{kontaktoplysningerList.addresselinje2}}" [(ngModel)]="kontaktoplysningerList.addresselinje2">
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Telefonnr:</mat-label>
        <input matInput formControlName="TelCtl" placeholder="{{kontaktoplysningerList.telefonnr}}" [(ngModel)]="kontaktoplysningerList.telefonnr">
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email:</mat-label>
        <input matInput formControlName="EmailCtl" placeholder="{{kontaktoplysningerList.email}}" [(ngModel)]="kontaktoplysningerList.email">
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Postnr:</mat-label>
        <input matInput formControlName="PostCtl" placeholder="{{kontaktoplysningerList.postnr}}" [(ngModel)]="kontaktoplysningerList.postnr">
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>By:</mat-label>
        <input matInput formControlName="ByCtl" placeholder="{{kontaktoplysningerList.by}}" [(ngModel)]="kontaktoplysningerList.by">
      </mat-form-field>
<div mat-dialog-actions class="btn-container">
 <button mat-button (click)="onClose()">Annulere</button>
  <button mat-button cdkFocusInitial  [mat-dialog-close]="kontaktoplysningerList" >Gem Ændringer</button>


</div>
</form>
</div>

