<mat-card class="main" id="imgeUp">
    <mat-card-title class="txt" style="margin-top: 100px;">
        <h1 style="width: 100%;">Opret Forum</h1>
    </mat-card-title>
    <mat-card-content class="container">

        <form [formGroup]="opretForm" class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="text" [(ngModel)]="forumOprettelse.titel" class="input-control" formControlName="titel" placeholder="Titel" >
                <!-- <mat-error *ngIf="navn.errors?.['required']"> -->
                <mat-error>
                    feltet skal udfyldes
                </mat-error>
            </mat-form-field>
            
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="text" [(ngModel)]="forumOprettelse.beskrivelse" formControlName="beskrivelse" placeholder="Beskrivelse" class="input-control">
                <mat-error>
                    Dette felt skal udfyldes
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
              <input matInput [matDatepicker]="picker1"  [(ngModel)]="forumOprettelse.oprettet" formControlName="oprettet" placeholder="Dato" class="input-control">
              <mat-datepicker-toggle matSuffix [for]="picker1" ></mat-datepicker-toggle>
              <mat-datepicker #picker1 ></mat-datepicker>
              <mat-error>
                  Dette felt skal udfyldes
              </mat-error>
          </mat-form-field>

            <button mat-raised-button type="submit" (click)="onAnuller()" class="login-btn" style="background: linear-gradient(#b60d0d, #ff6e6e);">Annuller</button>
            
            <button mat-raised-button type="submit" (click)="onSubmitForum()" class="login-btn" style="background: linear-gradient(#33ff00, #41fd70);">Opret Forum</button>

        </form>
    </mat-card-content>
</mat-card>