<mat-card class="main" id="imgeUp">
    <mat-card-content class="container">

        <form [formGroup]="updateForm" class="example-form" *ngIf="beerList">
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="text" [(ngModel)]="beerList.navn" formControlName="navn" placeholder="{{beerList.navn}}" class="input-control">
                <!-- <mat-error *ngIf="navn.errors?.['required']"> -->
                <mat-error>
                    udfyld feltet
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="text" [(ngModel)]="beerList.type" formControlName="type"
                    placeholder="{{beerList.type}}" class="input-control">
                <mat-error>
                    udfyld feltet
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="text" [(ngModel)]="beerList.smag" formControlName="smag"
                    placeholder="{{beerList.smag}}" class="input-control">
                <mat-error>
                    udfyld feltet
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="number" [(ngModel)]="beerList.procent" formControlName="procent"
                    placeholder="{{beerList.procent}}" class="input-control">
                <mat-error>
                    udfyld feltet
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="date" [(ngModel)]="beerList.argang" formControlName="argang" placeholder="{{beerList.argang}}" class="input-control">
                <mat-error>
                    Dette felt skal udfyldes
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="text" [(ngModel)]="beerList.land" formControlName="land"
                    placeholder="{{beerList.land}}" class="input-control">
                <mat-error>
                    udfyld feltet
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="number" [(ngModel)]="beerList.bryggeriId" formControlName="bryggerid"
                    placeholder="{{beerList.bryggeriId}}" class="input-control">
                <mat-error>
                    udfyld feltet
                </mat-error>
            </mat-form-field>

            <!-- <mat-form-field class="example-full-width" appearance="fill">
                    <mat-select [(value)]="selected" formControlName="bryggeprocess" placeholder="{{beerList.bryggeprocess}}">
                        <mat-option>Ingen</mat-option>
                        <mat-option value="optionJa">Ja</mat-option>
                        <mat-option value="optionNej">Nej</mat-option>
                    </mat-select>
                    <mat-error>
                        udfyld feltet
                    </mat-error>
            </mat-form-field> -->

            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="text" [(ngModel)]="beerList.etiket" formControlName="etiket"
                    placeholder="{{beerList.etiket}}" class="input-control">
                <mat-error>
                    udfyld feltet
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="text" [(ngModel)]="beerList.beskrivelse" formControlName="beskrivelse"
                    placeholder="{{beerList.beskrivelse}}" class="input-control">
                <mat-error>
                    udfyld feltet
                </mat-error>
            </mat-form-field>
          
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="text" [(ngModel)]="beerList.antal" formControlName="antal"
                    placeholder="{{beerList.antal}}" class="input-control">
                <mat-error>
                    udfyld feltet
                </mat-error>
            </mat-form-field>

            <button mat-raised-button type="submit" (click)="onAnnullerOl()" class="login-btn"
                style="background: linear-gradient(#b60d0d, #ff6e6e);">Annuller</button>

            <button mat-raised-button type="submit" (click)="onSubmitOl()" class="login-btn"
                style="background: linear-gradient(#00ff37, #41fd70);">Rediger Øl</button>
        </form>
    </mat-card-content>
</mat-card>