/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

 ::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track{
    border-radius: 5px;
    /* box-shadow: inset 0 0 10px rgb(43, 43, 43); */
}
::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #1082af;
}
::-webkit-scrollbar-track:hover{
    background-color: #83838352;
}