.frontCard{
    height: 200px;
    width: 200px;
    background-color: rgb(214, 225, 231);
}
#imgeUp{
  background-image: url('/assets/images/Background-website-01.jpg');
  background-position:center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;

  }

h1{
  font-weight: bolder;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  text-align: center;
  margin-top: 20px;

}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  margin-bottom: 20px;
}
mat-grid-tile {
  background: rgb(243, 245, 247);
}

mat-grid-tile mat-card{
height: 250px;
width: 250px;
margin-left: 30px;
margin-right: 20px;
margin-top: 50px;
}

mat-card-title{
  font-weight: bolder;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;


}
#beerImage{
  background-image: url('/assets/images/beerlist.jpg');
  height: 250px;
  width: 250px;

}
#bryggeriImage{
  background-image: url('/assets/images/bryggerilist.jpg');
  height: 250px;
  width: 250px;
}
