<div id="imgeUp">
  <h1 style="font-style: italic;font-weight: bolder;margin-top: 20px;font-family: 'Times New Roman', Times, serif;">
    Velkommen Til Nano-Bryggere App</h1>
  <img src="/assets/images/logoNano.png">
</div>
<mat-progress-bar mode="indeterminate"></mat-progress-bar>

<mat-grid-list cols="1" rowHeight="300px">

  <mat-grid-tile class="cdk-virtual-scroll-data-source-example">
    <span id="beerImage">
      <div style="background-color: gray; width: 100%; height: 10%; text-align: center; justify-content: center;">
        <mat-card-title style="color: white;">Øl Liste</mat-card-title>
      </div>
    </span>
    <cdk-virtual-scroll-viewport orientation="horizontal" itemSize="50" class="example-viewport">
      <div *cdkVirtualFor="let ol of olListe" class="example-item" (click)="onVisOlDetaljer(ol.id)">
        <img [src]="this.ol.olBilled" alt="" class="centerBilled" style="width: 40%; height: 40%;">
        <p class="titelStyle centers">Navn:</p>
        <p class="txtStyle centers">{{ol.navn}}</p>
      </div>
    </cdk-virtual-scroll-viewport>
  </mat-grid-tile>

  <mat-grid-tile class="cdk-virtual-scroll-data-source-example">
    <span id="bryggeriImage">
      <div style="background-color: gray; width: 100%; height: 10%; text-align: center; justify-content: center;">
        <mat-card-title style="color: white;">Bryggeri Liste</mat-card-title>
      </div>
    </span>
    <cdk-virtual-scroll-viewport orientation="horizontal" itemSize="50" class="example-viewport ">
      <div *cdkVirtualFor="let bryg of bryggeriListe" class="example-item" (click)="onVisDetaljer(bryg.id)">
        <img [src]="this.bryg.bryggeriLogo" alt="" class="centerBilled" style="width: 40%; height: 40%;">
        <p class="titelStyle centers">Bryggeri navn:</p>
        <p class="txtStyle centers">{{bryg.navn}}</p>
      </div>
    </cdk-virtual-scroll-viewport>
  </mat-grid-tile>

  <mat-grid-tile class="cdk-virtual-scroll-data-source-example">
    <span id="eventsImage">
      <div style="background-color: gray; width: 100%; height: 10%; text-align: center; justify-content: center;">
        <mat-card-title style="color: white;">Det Sker Der</mat-card-title>
      </div>
    </span>
    <cdk-virtual-scroll-viewport orientation="horizontal" itemSize="20" class="example-viewport ">
      <div *cdkVirtualFor="let event of events" class="example-item" (click)="onVisEventsDetaljer(event.id)">
        <img [src]="this.event.eventBilled" alt="" class="centerBilled" style="width: 40%; height: 40%;">
        <p class="titelStyle centers">Titel:</p>
        <p class="txtStyle centers">{{event.titel}}</p>
      </div>
    </cdk-virtual-scroll-viewport>
  </mat-grid-tile>
  <mat-grid-tile>
    <!-- kan tilføje mere her -->
  </mat-grid-tile>
</mat-grid-list>
<!-- <div class="div-screen">
    <mat-grid-list cols="2" rowHeight="2:1" >
      <mat-grid-tile >
        <mat-card class="frontCard">
       </mat-card>
      </mat-grid-tile>
      <mat-grid-tile >
        <mat-card class="frontCard">
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="frontCard">
          <mat-panel-title >

          </mat-panel-title>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="frontCard">

        </mat-card>
      </mat-grid-tile>
       <mat-grid-tile>
        <mat-card class="frontCard">

        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div> -->

<!-- <div class="main" id="imgeUp">
    <mat-toolbar class="login-header" style="background: linear-gradient(#238ff5, #23baf5);">
        <button mat-raised-button
            style="background-color: rgb(30, 122, 228); width: 120px; height: 40px; border-width: 0; margin-right: 20px;" (click)="onOpretEvents()">Opret event</button>
        <form class="example-form" style="justify-content: center;">
            <mat-form-field>
                <input matInput placeholder="Søgning" type="search" >
            </mat-form-field>
        </form>
    </mat-toolbar>
    <table style="width: 100%; height: 100%; display: flex;">
        <mat-accordion class="example-headers-align" multi style="width: 100%;">
            <mat-expansion-panel *ngFor="let event of events" style="margin-top: 10px;">
                <mat-expansion-panel-header style="background: linear-gradient(rgb(30, 122, 228), rgb(75, 127, 185)); justify-content: center; width: 100%;">
                    <mat-panel-title class="centers" style="justify-content: center;">
                        Titel: {{event.titel}}
                    </mat-panel-title>
                    <mat-action-row class="centers" style="justify-content: center;">
                        <button mat-button class="btnMainStyle" (click)="onSletEvent(event.id)">Slet Event</button>
                        <button mat-button class="btnMainStyle" (click)="onOpdaterEvent(event.id)">Rediger Event</button>
                    </mat-action-row>
                </mat-expansion-panel-header>
                <mat-card class="containStyle">
                    <p>Beskrivelse:</p>
                    <p>{{event.beskrivelse}}</p>
                </mat-card>
                <mat-card class="containStyle">
                    <p>Start:</p>
                    <p>{{event.startDato}}</p>
                </mat-card>
                <mat-card class="containStyle">
                    <p>Slut:</p>
                    <p>{{event.slutDato}}</p>
                </mat-card>
                <mat-card class="containStyle">
                    <p>Lokation:</p>
                    <p>{{event.lokation}}</p>
                </mat-card>
            </mat-expansion-panel>
        </mat-accordion>
    </table>
</div> -->