.main{
  height: 100%;
  background-color: rgb(255, 255, 255);
}

#imgeUp{
  background-image: url('/assets/images/Background-website-01.jpg');
  background-position:center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
}

#warning{
  display: flex;
  justify-content: center;
  margin-top: 250px;
  font-size: 100px;
}
.mat-icon {
  transform: scale(15);
  color: gray;
}
