<mat-drawer-container class="example-container">
  <mat-drawer #drawer mode="side" opened class="main" id="imgeUp">
    <div class="sidebar">
      <h1 id="headerStyle">Profil Side</h1>
      <img [src]="this.url" alt="" style="width: 20%; height: 20%;">
      <button class="btnStyle" (click)="visFillerP = !visFillerP">Vis Kontakt Oplysninger</button>
      <button class="btnStyle" (click)="visFillerB = !visFillerB" [disabled]="this.visB">Vis Bryggeri
        Oplysninger</button>
      <button class="btnStyle" (click)="visFillerOB= !visFillerOB" [disabled]="this.visOB">Opret Bryggeri</button>
      <button class="btnStyle" (click)="onSletProfil()">Slet Bruger</button>
      <!-- <button class="btnStyle"  (click)="logud()" >LogUd</button> -->
    </div>
  </mat-drawer>
  <mat-drawer-content class="main" id="imgeUp" *ngIf="kontaktOplysningsListe" style="width: 100%;">
    <mat-card *ngIf="visFillerP" style="width: 50%;" class="centers">
      <mat-card-content>
        <mat-accordion class="example-headers-align" multi>
          <mat-expansion-panel hideToggle="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Kontakt Oplysninger
              </mat-panel-title>
              <mat-panel-description>
                <mat-icon>account_circle</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
              <mat-card class="containStyle centers" style="width: 80%;">
                <span style="font-weight: bold; margin-right: 20px; color: black;">Fornavn:</span>
                <span class="txtStyle">{{kontaktOplysningsListe.fnavn}}</span>
              </mat-card>
              <mat-card class="containStyle centers" style="width: 80%;">
                <span style="font-weight: bold; margin-right: 20px; color: black;">Efternavn:</span>
                <span class="txtStyle">{{kontaktOplysningsListe.enavn}}</span>
              </mat-card>
              <mat-card class="containStyle centers" style="width: 80%;">
                <span style="font-weight: bold; margin-right: 20px; color: black;">Addresselinje1:</span>
                <span class="txtStyle">{{kontaktOplysningsListe.adresseLinje1}}</span>
              </mat-card>
              <mat-card class="containStyle centers" style="width: 80%;">
                <span style="font-weight: bold; margin-right: 20px; color: black;">Addresselinje2:</span>
                <span class="txtStyle">{{kontaktOplysningsListe.adresseLinje2}}</span>
              </mat-card>
              <mat-card class="containStyle centers" style="width: 80%;">
                <span style="font-weight: bold; margin-right: 20px; color: black;">Telefonnr:</span>
                <span class="txtStyle">{{kontaktOplysningsListe.telefonNr}}</span>
              </mat-card>
              <mat-card class="containStyle centers" style="width: 80%;">
                <span style="font-weight: bold; margin-right: 20px; color: black;">Email:</span>
                <span class="txtStyle">{{kontaktOplysningsListe.email}}</span>
              </mat-card>
              <mat-card class="containStyle centers" style="width: 80%;">
                <span style="font-weight: bold; margin-right: 20px; color: black;">Postnr:</span>
                <span class="txtStyle">{{kontaktOplysningsListe.postNr}}</span>
              </mat-card>
              <mat-card class="containStyle centers" style="width: 80%;">
                <span style="font-weight: bold; margin-right: 20px; color: black;">By:</span>
                <span class="txtStyle">{{kontaktOplysningsListe.by}}</span>
              </mat-card>
              <mat-card class="containStyle centers" style="width: 80%;">
                <span style="font-weight: bold; margin-right: 20px; color: black;">Brugernavn:</span>
                <span class="txtStyle">{{this.brugerListe.brugernavn}}</span>
              </mat-card>
              <mat-card class="containStyle centers" style="width: 80%;">
                <span style="font-weight: bold; margin-right: 20px; color: black;">Rolle:</span>
                <span class="txtStyle">{{this.rolleNavn}}</span>
              </mat-card>
              <mat-action-row>
                <button mat-button color="primary" (click)="onOpdaterProfil()" class="btnMainStyle">Rediger
                  Profil</button>
              </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="visFillerB" style="width: 50%;" class="centers">
      <mat-card-content>
        <mat-accordion class="example-headers-align" multi *ngIf="bryggeriListe">
          <mat-expansion-panel hideToggle="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Bryggeri Oplysninger
              </mat-panel-title>
              <mat-panel-description>
                <mat-icon>work</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <!--   <mat-card class="containStyle">
              <span>Id:</span>
              <span class="txtStyle">{{bryggeri.Id}}</span>
            </mat-card> -->
            <mat-card class="containStyle centers" style="width: 80%;">
              <span style="font-weight: bold; margin-right: 20px; color: black;">Logo:</span>
              <span class="txtStyle"><img [src]="this.bryggeriListe.bryggeriLogo" alt=""
                  style="width: 20%; height: 20%;"></span>
            </mat-card>
            <mat-card class="containStyle centers"  style="width: 80%;">
              <span style="font-weight: bold; margin-right: 20px; color: black;">Navn:</span>
              <span class="txtStyle">{{bryggeriListe.navn}}</span>
            </mat-card>
            <mat-card class="containStyle centers"  style="width: 80%;">
              <span style="font-weight: bold; margin-right: 20px; color: black;">Beskrivelse:</span>
              <span class="txtStyle">{{bryggeriListe.beskrivelse}}</span>
            </mat-card>
            <mat-action-row>
              <button mat-button color="primary" (click)="onSletBryggeri()" class="btnMainStyle">Slet Bryggeri</button>
              <button mat-button color="primary" (click)="onOpdaterBryggeri()" class="btnMainStyle">Rediger
                Bryggeri</button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="visFillerOB" style="width: 50%;" class="centers">
      <mat-card-content>
        <mat-accordion class="example-headers-align" multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Opret Bryggeri
              </mat-panel-title>
              <mat-panel-description>
                <mat-icon>work</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <form [formGroup]="bryggeriOprettelsesForm" novalidate class="containStyle">
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Logo</mat-label>
                <input matInput placeholder="Billed" formControlName="bryggeriLogo"
                  [(ngModel)]="nytBryggeri.bryggeriLogo">
                <input type="file" class="btnMainStyle" (change)="onSubmitProfilBilled($event)">
              </mat-form-field>
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Navn</mat-label>
                <input matInput placeholder="Navn" formControlName="navn" [(ngModel)]="nytBryggeri.navn" required>
                <mat-error>
                  feltet skal udfyldes
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Beskrivelse</mat-label>
                <input matInput placeholder="Beskrivelse" formControlName="beskrivelse"
                  [(ngModel)]="nytBryggeri.beskrivelse">
              </mat-form-field>
            </form>
            <mat-action-row>
              <button mat-button color="primary" (click)="onClose()" class="btnMainStyle">Annulere</button>
              <button mat-button color="primary" (click)="onOpretBryggeri(); $event.stopPropagation()"
                class="btnMainStyle">Oprette Bryggeri</button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>
  </mat-drawer-content>
</mat-drawer-container>