<div class="div-screen">
    <div fxLayoutAlign="center" fxFlexFill class="main-div">
        <mat-card fxflex="25">
            <div class="profil-card">
            </div>
            <div fxLayout="column" class="profil-section-holder">
                <div fxLayout="rows" style="height: 100%;">
                    <div class="profil-section" style="width: 60%;">
                        <form fxLayout="column">
                            <div style="margin-bottom: 60px;"></div>
                            <div fxLayout="row" class="profil-info">
                                <h1 class="section-text" style="padding-right: 195px; padding-left: 5px;">Fornavn</h1>
                                <h1 class="section-text">Email</h1>
                            </div>
                            <div fxLayout="row" class="profil-info">
                                <h1 style="color: black; padding-left: 5px; padding-right: 175px;">Efternavn</h1>
                                <h1 style="color: black;">TelefonNr</h1>
                            </div>
                            <div fxLayout="row" class="profil-info">
                                <h1 class="section-text" style="padding-right: 140px; padding-left: 5px;">AddresseNr1</h1>
                                <h1 class="section-text">By</h1>
                            </div>
                            <div fxLayout="row">
                                <h1 style="color: black; padding-left: 5px; padding-right: 140px;">AddresseNr2</h1>
                                <h1 style="color: black;">PostNr</h1>
                            </div>
                        </form>
                    </div>
                    <div class="profil-section" style="width: 40%; height: 100%;">
                        <img src="" style="background-color: white;  width: 60%; height: 60%;">               
                        <div fxLayout="row" style="width: 100%; justify-content: center; padding: 50px 0;">
                            <button mat-raised-button type class="btn-profil" style="background-color: #af2121; border-radius: 21px; color: black;">Slet</button>
                            <button mat-raised-button type class="btn-profil" style="background-color: #21af5c; border-radius: 21px; color: black;">Rediger</button>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>